In [1]:
import pandas as pd

In [2]:
# This reload library is just used for developing the REPUBLIC hOCR parser 
# and can be removed once this module is stable.
%reload_ext autoreload
%autoreload 2


#This is needed to add the repo dir to the path so jupyter
# can load the republic modules directly from the notebooks
import os
import sys
import re

# from collections import defaultdict
import pandas as pd
from collections import Counter, defaultdict

repo_dir = os.path.split(os.getcwd())[0]

if repo_dir not in sys.path:
    sys.path.append(repo_dir)

    import sys
!{sys.executable} -m pip install -U  PyMySQL\[rsa\]

Requirement already up-to-date: PyMySQL[rsa] in /Users/rikhoekstra/.local/share/virtualenvs/republic-project-Av06XlOZ/lib/python3.8/site-packages (1.0.2)
Requirement already satisfied, skipping upgrade: cryptography; extra == "rsa" in /Users/rikhoekstra/.local/share/virtualenvs/republic-project-Av06XlOZ/lib/python3.8/site-packages (from PyMySQL[rsa]) (35.0.0)
Requirement already satisfied, skipping upgrade: cffi>=1.12 in /Users/rikhoekstra/.local/share/virtualenvs/republic-project-Av06XlOZ/lib/python3.8/site-packages (from cryptography; extra == "rsa"->PyMySQL[rsa]) (1.14.5)
Requirement already satisfied, skipping upgrade: pycparser in /Users/rikhoekstra/.local/share/virtualenvs/republic-project-Av06XlOZ/lib/python3.8/site-packages (from cffi>=1.12->cryptography; extra == "rsa"->PyMySQL[rsa]) (2.20)

In [3]:
# let's repress the warnings, esp. from pandas
import warnings
warnings.filterwarnings('ignore')
warnings.simplefilter('ignore')

In [4]:
import run_attendancelist

In [5]:
import xmltodict

In [6]:
flin = open('/Users/rikhoekstra/Downloads/bewerkingen/personen_index_nederland.xml', encoding='latin-1')

In [7]:
txt = flin.read()

In [8]:
with open('/Users/rikhoekstra/Downloads/bewerkingen/toc_nl.xml', encoding='latin-1') as fd:
    doc = xmltodict.parse(fd.read())

In [9]:
from lxml import etree

In [10]:
with open('/Users/rikhoekstra/Downloads/bewerkingen/toc_nl.xml', encoding='latin-1') as fd:
    pin = etree.parse(fd)

In [11]:
root = pin.getroot()

In [12]:
len(root.getchildren())

435

In [13]:
items = root.getchildren()

In [14]:
i = items[107]
etree.tostring(i)

b'<item level="2" schutte_nr="88" schuttenummers="82-97"><title>88. Mangeot</title><page source="2" number="141">141</page></item>'

In [15]:
etree.tostring(i)

b'<item level="2" schutte_nr="88" schuttenummers="82-97"><title>88. Mangeot</title><page source="2" number="141">141</page></item>'

In [16]:
i.getchildren()

In [17]:
i.attrib.keys()

['level', 'schutte_nr', 'schuttenummers']

In [18]:
items = root.findall('item')

In [19]:
import re
pat = re.compile('[0-9]+\.\s+(?P<name>\w*)(,?\s?(?P<givenname>.*))?')#('[0-9]+\.\s+(?P<name>.*),?\s?(?P<givenname>.*)')
pat_0 = re.compile('(?P<nr>[A-Z]+)\.\s+(?P<category>.*)')
hpat = re.compile(r'\(.*?\),?\s?', re.UNICODE) # hpat = re.compile('\(.*\),?\s?') is too greedy

In [20]:
concordance = {}
for item in items:
    schutte_level = item.attrib.get('level')
    schuttenummers = item.attrib.get('schuttenummers')
    if schuttenummers not in concordance.keys():
    # if schutte_level == "0":
        t = item.findall('title')   
        for p in t:
            prs = pat_0.search(p.text)
            if prs:
                d = prs.groupdict()
                if schutte_level not in concordance.keys():
                    # if schuttenummers == None:
                    #     schuttenummers = '197-198'
                    concordance[schuttenummers] = d
            # else:
            #     print(etree.tostring(p))
concordance

{'1-43': {'nr': 'I', 'category': 'Frankrijk'},
 '44-53': {'nr': 'II', 'category': 'Zuidelijke Nederlanden'},
 '54-81': {'nr': 'III', 'category': 'Groot-Brittannië'},
 None: {'nr': 'IV', 'category': 'Duitsland'},
 '82-97': {'nr': 'A', 'category': 'De Keizer en Oostenrijk'},
 '98-99': {'nr': 'B', 'category': 'Beieren'},
 '100-104': {'nr': 'C', 'category': 'Regensburg'},
 '105-111': {'nr': 'D', 'category': 'Württemberg'},
 '112': {'nr': 'E', 'category': 'Baden'},
 '113-116': {'nr': 'F', 'category': 'Keur-Palts'},
 '117': {'nr': 'K', 'category': 'Rijnbond'},
 '118': {'nr': 'L', 'category': 'Hessen-Kassel'},
 '119': {'nr': 'M', 'category': 'Westfalen'},
 '120-126': {'nr': 'N', 'category': 'Frankfort'},
 '127-139': {'nr': 'P', 'category': 'Keur-Keulen'},
 '140-145': {'nr': 'Q', 'category': 'Luik'},
 '146-150': {'nr': 'R', 'category': 'Aken'},
 '151': {'nr': 'S',
  'category': 'Brunswijk-Lünenberg-Calenberg, Brunswijk-Lünenberg-Celle en Brunswijk-Wolffenbüttel'},
 '152-166': {'nr': 'T',
  'category': 'Nedersaksische Kreits, Hamburg, Lübeck en Bremen'},
 '167-188': {'nr': 'U', 'category': 'Pruissen'},
 '189-196': {'nr': 'W', 'category': 'Danzig'},
 '197-198': {'nr': 'X', 'category': 'Saksen'},
 '199-222': {'nr': 'V', 'category': 'Denemarken en Noorwegen'},
 '223-238': {'nr': 'VI', 'category': 'Zweden'},
 '239-241': {'nr': 'VII', 'category': 'Polen'},
 '242-255': {'nr': 'VIII', 'category': 'Rusland'},
 '256-275': {'nr': 'IX', 'category': 'Turkije'},
 '276-292': {'nr': 'X', 'category': 'Marokko'},
 '293-313': {'nr': 'XI', 'category': 'Spanje'},
 '314-326': {'nr': 'XII', 'category': 'Portugal'},
 '327-328': {'nr': 'XIII', 'category': 'Sardinië'},
 '329': {'nr': 'XIV', 'category': 'Genua'},
 '330': {'nr': 'XV', 'category': 'Toscane'},
 '331': {'nr': 'XVII', 'category': 'Napels en Sicilië'},
 '332-333': {'nr': 'XIX', 'category': 'Venetië'},
 '334-338': {'nr': 'XX', 'category': 'Zwitserland'},
 '339-342': {'nr': 'XXI', 'category': 'Verenigde Staten van Amerika'}}

In [21]:
items[40].attrib

{'level': '1', 'schutte_nr': '34', 'schuttenummers': '1-43'}

In [22]:
nms = []
for item in items:
    t = item.findall('title') 
    page = item.findall('page')[0]
    pagenr = page.attrib.get('number') 
    if pagenr:
        pagenr = int(pagenr)
    for p in t:
        prs = pat.search(p.text)
        if prs:
            text = p.text
            pt = re.sub(hpat, '', text)
            prs = pat.search(text)
            record = prs.groupdict()
            record['pagenr'] = pagenr
            for a in item.attrib:
                record[a] = item.attrib.get(a)
            t = f"{record['schutte_nr']}" + ".*" + f"{record['givenname']}"+ ".*" + f"{record['name']}"
            t = re.sub(hpat, '', t)
            t = t.replace(' van', '.*van')
            t = t.replace(' de ', '.*de ')
            #record['template'] = t
            nms.append(record)
        #else: print(etree.tostring(item))

In [23]:
record

{'name': 'Polanen',
 'givenname': 'Rogier Gerard van',
 'pagenr': 470,
 'level': '1',
 'schutte_nr': '342',
 'schuttenummers': '339-342'}

In [24]:
f"{record['schutte_nr']}" + ".*" + f"{record['givenname']}\s.*{record['name']}"

'342.*Rogier Gerard van\\s.*Polanen'

In [25]:
[name for name in nms if name['schutte_nr']=='5']

[{'name': 'Aerssen',
  'givenname': 'François van',
  'pagenr': 4,
  'level': '1',
  'schutte_nr': '5',
  'schuttenummers': '1-43'}]

nms = []
for item in items:
    t = item.findall('title')  
    for p in t:
        prs = pat.search(p.text)
        if prs:
            record = prs.groupdict()
            for a in item.attrib:
                record[a] = item.attrib.get(a)
            nms.append(record)
        else: print(etree.tostring(item))

In [26]:
len(nms)

342

In [27]:
df_concordance = pd.DataFrame().from_dict(concordance).transpose()
df_concordance.head()

        nr                 category
1-43     I                Frankrijk
44-53   II   Zuidelijke Nederlanden
54-81  III         Groot-Brittannië
NaN     IV                Duitsland
82-97    A  De Keizer en Oostenrijk

In [28]:
df2 = pd.DataFrame().from_records(nms)
df2.set_index(df2.schutte_nr)

,name,givenname,pagenr,level,schutte_nr,schuttenummers
schutte_nr,,,,,,
1,Taffin,Quintin,1,1,1,1-43
2,Calvart,Lieven,2,1,2,1-43
3,Nassau,Justinus van,3,1,3,1-43
4,Oldenbarnevelt,Johan van,3,1,4,1-43
5,Aerssen,François van,4,1,5,1-43
...,...,...,...,...,...,...
338,Mestrezat,,468,1,338,334-338
339,Berckel,Pieter Johan van,469,1,339,339-342
340,Dorsten,Rudolph van,470,1,340,339-342
341,Berckel,Franco Petrus van,470,1,341,339-342
342,Polanen,Rogier Gerard van,470,1,342,339-342

In [29]:
df_met_cat = df2.merge(df_concordance, left_on=df2.schuttenummers, right_on=df_concordance.index)
df_met_cat

,key_0,name,givenname,pagenr,level,schutte_nr,schuttenummers,nr,category
0,1-43,Taffin,Quintin,1,1,1,1-43,I,Frankrijk
1,1-43,Calvart,Lieven,2,1,2,1-43,I,Frankrijk
2,1-43,Nassau,Justinus van,3,1,3,1-43,I,Frankrijk
3,1-43,Oldenbarnevelt,Johan van,3,1,4,1-43,I,Frankrijk
4,1-43,Aerssen,François van,4,1,5,1-43,I,Frankrijk
...,...,...,...,...,...,...,...,...,...
337,334-338,Mestrezat,,468,1,338,334-338,XX,Zwitserland
338,339-342,Berckel,Pieter Johan van,469,1,339,339-342,XXI,Verenigde Staten van Amerika
339,339-342,Dorsten,Rudolph van,470,1,340,339-342,XXI,Verenigde Staten van Amerika
340,339-342,Berckel,Franco Petrus van,470,1,341,339-342,XXI,Verenigde Staten van Amerika
341,339-342,Polanen,Rogier Gerard van,470,1,342,339-342,XXI,Verenigde Staten van Amerika

#obsolete
df2.merge(df, how='inner', on=['name'],sort=False, suffixes=('_x', '_y'), copy=True)

## database manipulation

In [30]:
df = run_attendancelist.abbreviated_delegates

In [31]:
df

,id,name,geboortejaar,sterfjaar,age_at_repr,colleges,functions,period,sg,was_gedeputeerde,p_interval.left,p_interval.right,h_life.left,h_life.right,p_interval,h_life
0,4,van Wickevoort Crommelin,1763-01-01,1837-12-31,NaN,Staten-Generaal der Verenigde Nederlandse Prov...,gedeputeerde,"PeriodIndex(['1795-06-03', '1795-06-04', '1795...",True,True,1795,1796,1763,1837,"(1795, 1796]","(1763, 1837]"
1,5,Appelius,1767-01-01,1828-12-31,NaN,Provisionele Representanten van het Volk van Z...,lid,"PeriodIndex(['1795-10-20', '1795-10-21', '1795...",False,False,1795,1796,1767,1828,"(1795, 1796]","(1767, 1828]"
2,13,Bosscha,1767-01-01,1810-12-31,NaN,Hof van Friesland (1499-1811),raadsheer,"PeriodIndex(['1795-08-28', '1795-08-29', '1795...",False,False,1795,1796,1767,1810,"(1795, 1796]","(1767, 1810]"
3,14,van Hooff,1755-01-01,1816-12-31,NaN,Staten-Generaal der Verenigde Nederlandse Prov...,gedeputeerde,"PeriodIndex(['1796-03-01'], dtype='period[D]',...",True,True,1796,1796,1755,1816,"(1796, 1796]","(1755, 1816]"
4,15,Verhoysen,1757-01-01,1835-12-31,NaN,Provisionele Representanten van het Volk van B...,lid,"PeriodIndex(['1795-08-24', '1795-08-25', '1795...",False,False,1795,1796,1757,1835,"(1795, 1796]","(1757, 1835]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7940,19999,van Reede,1674-01-01,1730-05-02,52.0,"Generaliteitsrekenkamer (1608-1799), Staten-Ge...","gecommitteerde, ordinaris gedeputeerde","PeriodIndex(['1696-05-02', '1696-05-03', '1696...",True,True,1696,1714,1674,1730,"(1696, 1714]","(1674, 1730]"
7941,20000,van Wijnbergen,None,1703-12-31,NaN,Staten-Generaal der Verenigde Nederlanden (158...,"ordinaris gedeputeerde, lid","PeriodIndex(['1660-10-15', '1660-10-16', '1660...",True,True,1660,1705,1616,1703,"(1660, 1705]","(1616, 1703]"
7942,20001,van Arnhem tot Harselo,1636-01-01,1716-12-12,NaN,"Ridderschap van het Kwartier Veluwe, Gedeputee...","lid, gedeputeerde, extraordinaris raadsheer","PeriodIndex(['1658-01-01', '1658-01-02', '1658...",False,False,1658,1716,1636,1716,"(1658, 1716]","(1636, 1716]"
7943,20002,van Arnhem,1596-01-01,1649-09-06,NaN,"Ridderschap van het Kwartier Veluwe, Gedeputee...","lid, extraordinaris raadsheer, raadsheer","PeriodIndex(['1619-01-01', '1619-01-02', '1619...",False,False,1619,1649,1596,1649,"(1619, 1649]","(1596, 1649]"
7944,20003,van Haersolte tot Yrst,1644-01-01,1728-07-01,82.0,"Generaliteitsrekenkamer (1608-1799), Gedeputee...","gecommitteerde, lid","PeriodIndex(['1675-03-18', '1675-03-19', '1675...",False,False,1675,1728,1644,1728,"(1675, 1728]","(1644, 1728]"

In [32]:
import pymysql

In [33]:
import pandas as pd
from sqlalchemy import text

In [34]:
query= '''SELECT raa_new.functie.naam as functienaam, 
	   raa_new.instelling.naam as college,
       raa_new.persoon.searchable as regent,
       raa_new.persoon.voornaam,
       raa_new.persoon.geslachtsnaam,
       raa_new.persoon.tussenvoegsel,
       raa_new.persoon.geboortedatum,
       raa_new.persoon.overlijdensdatum,
       raa_new.aanstelling.*
FROM raa_new.aanstelling 
JOIN raa_new.functie on raa_new.aanstelling.functie_id = raa_new.functie.id
JOIN raa_new.instelling on raa_new.aanstelling.instelling_id = raa_new.instelling.id
JOIN raa_new.persoon on raa_new.aanstelling.persoon_id = raa_new.persoon.id
WHERE raa_new.instelling.naam LIKE "%Staten-Generaal%"
order by  raa_new.aanstelling.tot;'''

con = "mysql+pymysql://rik:X0chi@localhost/raa_new"

In [35]:
df_deputies = pd.read_sql(con=con, sql=text(query), parse_dates={'van':None,
                                                        'tot':None})

df = pd.read_excel("sheets/gedeputeerden_uitgebreid.xlsx")

# switched to pickle serializing

df_deputies.columns

In [81]:
df_deputies['van'] = df_deputies.beginjaar

In [36]:
df_deputies['van'] = df_deputies.beginjaar
df_deputies['tot'] = df_deputies.eindjaar

In [37]:
df_deputies['geboortedatum_p'] = df_deputies.geboortedatum.apply(lambda x: pd.Period(x, freq="D"))

In [38]:
df_deputies['overlijdensdatum_p'] = df_deputies.overlijdensdatum.apply(lambda x: pd.Period(x, freq="D"))

In [39]:
df_deputies['firstnameplus'] = df_deputies.voornaam.str.cat(df_deputies.tussenvoegsel, sep=' ').str.strip()

In [40]:
df_deputies['fullname'] = df_deputies.geslachtsnaam.str.cat(df_deputies.firstnameplus, sep=', ').str.strip()

In [41]:
df_deputies.to_parquet('~/Downloads/deputies_z_uitgebreid.parquet')

In [42]:
df_deputies2 = pd.read_parquet('~/Downloads/deputies_z_uitgebreid.parquet')
df_deputies2.drop([c for c in df_deputies2.columns if 'old_' in c], axis=1, inplace=True)
df_deputies2

,functienaam,college,regent,voornaam,geslachtsnaam,tussenvoegsel,geboortedatum,overlijdensdatum,id,van,...,beginjaar,beginmaand,einddag,eindjaar,eindmaand,periode,geboortedatum_p,overlijdensdatum_p,firstnameplus,fullname
0,gedeputeerde,Staten-Generaal der Verenigde Nederlandse Prov...,Appelius,Jean Henry,Appelius,,1767-01-01,1828-12-31,837,1795,...,1795,12,None,None,None,2,1767-01-01,1828-12-31,Jean Henry,"Appelius, Jean Henry"
1,gedeputeerde,Staten-Generaal der Verenigde Nederlandse Prov...,van Lidt de Jeude,Johan Richardt,Lidt de Jeude,van,1754-01-01,1803-12-31,890,1795,...,1795,9,None,None,None,2,1754-01-01,1803-12-31,Johan Richardt van,"Lidt de Jeude, Johan Richardt van"
2,gedeputeerde,Staten-Generaal der Verenigde Nederlandse Prov...,van Dedem van Gelder,Anthony Boldewijn Gijsbert,Dedem van Gelder,van,1774-01-01,1825-12-31,906,1795,...,1795,7,None,None,None,2,1774-01-01,1825-12-31,Anthony Boldewijn Gijsbert van,"Dedem van Gelder, Anthony Boldewijn Gijsbert van"
3,gedeputeerde,Staten-Generaal der Verenigde Nederlandse Prov...,Lestevenon,Willem Anne,Lestevenon,,1750-01-01,1816-12-31,3854,1795,...,1795,1,None,None,None,2,1750-01-01,1816-12-31,Willem Anne,"Lestevenon, Willem Anne"
4,griffier,Staten-Generaal der Verenigde Nederlandse Prov...,Quarles van Ufford,Willem,Quarles van Ufford,,1751-01-01,1826-12-31,5705,1795,...,1795,2,None,None,None,2,1751-01-01,1826-12-31,Willem,"Quarles van Ufford, Willem"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4218,lid,Eerste Kamer der Staten-Generaal (1815-1861),Beerenbroek,Ludovicus Franciscus Hubertus,Beerenbroek,,1805-03-25,1884-05-04,6886,1849,...,1849,2,4,1884,5,2,1805-03-25,1884-05-04,Ludovicus Franciscus Hubertus,"Beerenbroek, Ludovicus Franciscus Hubertus"
4219,lid,Tweede Kamer der Staten-Generaal (1815-1861),van Eck,Daniel,Eck,van,1817-05-28,1895-03-13,8030,1850,...,1850,10,10,1884,10,3,1817-05-28,1895-03-13,Daniel van,"Eck, Daniel van"
4220,lid,Tweede Kamer der Staten-Generaal (1815-1861),Wybenga,Schelte,Wybenga,,1804-06-18,1886-09-09,7635,1855,...,1855,6,9,1886,9,3,1804-06-18,1886-09-09,Schelte,"Wybenga, Schelte"
4221,lid,Eerste Kamer der Staten-Generaal (1815-1861),Huydecoper,Joan,Huydecoper,,1821-05-10,1890-11-29,6920,1858,...,1858,5,17,1887,8,2,1821-05-10,1890-11-29,Joan,"Huydecoper, Joan"
4222,lid,Eerste Kamer der Staten-Generaal (1815-1861),van Eysinga,Frans Julius Johan,Eysinga,van,1818-12-31,1901-04-16,6872,1850,...,1850,10,7,1894,6,2,1818-12-31,1901-04-16,Frans Julius Johan van,"Eysinga, Frans Julius Johan van"

In [82]:
df_deputies2.columns

Index(['functienaam', 'college', 'regent', 'voornaam', 'geslachtsnaam',
       'tussenvoegsel', 'geboortedatum', 'overlijdensdatum', 'id', 'van',
       'van_als_bekend', 'tot', 'tot_als_bekend', 'persoon_id', 'functie_id',
       'instelling_id', 'regio_id', 'provincie_id', 'lokaal_id', 'stand_id',
       'vertegenwoordigend', 'opmerkingen', 'begindag', 'beginjaar',
       'beginmaand', 'einddag', 'eindjaar', 'eindmaand', 'periode',
       'geboortedatum_p', 'overlijdensdatum_p', 'firstnameplus', 'fullname',
       'van_p', 'tot_p'],
      dtype='object')

In [132]:
def ptoy(p):
    mn = p.min().year
    if pd.isna(mn):
        mn = 0
    mx = p.max().year or 0
    if pd.isna(mx):
        mx = 0
    i1 = pd.Interval(int(mn), int(mx), closed='both')
    return i1

In [45]:
delete = df_deputies2.loc[df_deputies2.tot.isna() & 
                df_deputies2.van.isna() &
                df_deputies2.beginjaar.isna() &
                df_deputies2.eindjaar.isna()].index
df_deputies2.drop(df_deputies2.index[delete], inplace=True)

In [46]:
c_subset = ['geboortedatum', 'overlijdensdatum', 'van',
       'van_als_bekend', 'tot', 'tot_als_bekend', 'begindag', 'beginjaar',
       'beginmaand', 'einddag', 'eindjaar', 'eindmaand', 'periode', 'van_p',
       'tot_p', 'geboortedatum_p', 'overlijdensdatum_p']
df_deputies2.loc[df_deputies2.tot=='' ]

Empty DataFrame
Columns: [functienaam, college, regent, voornaam, geslachtsnaam, tussenvoegsel, geboortedatum, overlijdensdatum, id, van, van_als_bekend, tot, tot_als_bekend, persoon_id, functie_id, instelling_id, regio_id, provincie_id, lokaal_id, stand_id, vertegenwoordigend, opmerkingen, begindag, beginjaar, beginmaand, einddag, eindjaar, eindmaand, periode, geboortedatum_p, overlijdensdatum_p, firstnameplus, fullname]
Index: []

[0 rows x 33 columns]

In [47]:
d

915

In [48]:
df_deputies2.van.fillna(df_deputies2.beginjaar, inplace=True)
len(df_deputies2.loc[df_deputies2.van.isna()])

22

In [83]:
df_deputies2.van.fillna(df_deputies2.tot, inplace=True)
df_deputies2.loc[df_deputies2.van.isna()][['van', 'tot','beginjaar','eindjaar']]

Empty DataFrame
Columns: [van, tot, beginjaar, eindjaar]
Index: []

In [94]:
import numpy as np
df_deputies2['van'] = df_deputies2.van.astype(float)
df_deputies2['van'] = df_deputies2.van_p.astype('Int64')
df_deputies2['van_p'] = df_deputies2.van_p.apply(lambda x: pd.Period(x, freq="D"))

In [95]:
df_deputies2.loc[df_deputies2.tot.isna()][['van', 'tot','beginjaar','eindjaar']]

Empty DataFrame
Columns: [van, tot, beginjaar, eindjaar]
Index: []

In [96]:
#df_deputies2.tot = 
len(df_deputies2.loc[df_deputies2.tot.isna()])
df_deputies2.tot = np.where(df_deputies2.tot.isna(), df_deputies2.van, df_deputies2.tot)
#np.where(df_deputies2.tot.isna())

In [86]:
 df_deputies2['tot'] = np.where(df_deputies2.tot < 1550, df_deputies2.van, df_deputies2.tot)

In [87]:
#df_deputies2.tot = np.where(df_deputies2.tot.str.strip() == '', df_deputies2.van, df_deputies2.tot)

In [99]:
df_deputies2.tot = df_deputies2.tot.astype('float')
df_deputies2.tot = df_deputies2.tot.astype('Int64')
# straight assignment does not work, see https://stackoverflow.com/questions/60280466/merging-two-dataframes-with-pd-na-in-merge-column-yields-typeerror-boolean-val

In [101]:
df_deputies2['tot_p'] = df_deputies2.tot.apply(lambda x: pd.Period(x, freq="D"))

In [102]:
df_deputies2.to_parquet('~/Downloads/deputies_zeer_uitgebreid.parquet')

In [ ]:
df_deputies2.p

0       2
1       2
2       2
3       2
4       2
       ..
4218    2
4219    3
4220    3
4221    2
4222    2
Name: periode, Length: 4219, dtype: object

In [103]:
# df_deputies2['van_p'] = df_deputies2.van.apply(lambda x: pd.Period(x, freq="D")) # this should be possible with to_period, but gives an error
# df_deputies2['tot_p'] = df_deputies2.tot.apply(lambda x: pd.Period(x, freq="D") )
df_deputies2['geboortedatum_p'] = df_deputies2.geboortedatum.apply(lambda x: pd.Period(x, freq="D"))
df_deputies2['overlijdensdatum_p'] = df_deputies2.overlijdensdatum.apply(lambda x: pd.Period(x, freq="D"))
grouped = df_deputies2.groupby('persoon_id')
grouped.apply(lambda x: maxmin(x))
unique_ids = grouped.groups.keys()

In [176]:
consolidate_deputies = df_deputies2.groupby('persoon_id', as_index=False)[['voornaam',
                                       'geslachtsnaam',
                                       'tussenvoegsel',
                                       'geboortedatum',
                                       'overlijdensdatum',
                                       'id',
                                       'van_p',
                                       'tot_p',
                                        'geboortedatum_p', 
                                        'overlijdensdatum_p',
                                        'firstnameplus', 
                                        'fullname',
                                       'functienaam',
                                       'college']].agg({'van_p':min, 
                                                        'tot_p':max, 
                                                        'functienaam':';'.join,
                                                        'college':';'.join,
                                                        'id':lambda x: x.iloc[0],
                                                        'geslachtsnaam':lambda x: x.iloc[0],
                                                        'voornaam':lambda x: x.iloc[0],
                                                        'tussenvoegsel':lambda x: x.iloc[0],
                                                        'geboortedatum_p':lambda x: x.iloc[0],
                                                        'overlijdensdatum_p':lambda x: x.iloc[0],
                                                        'firstnameplus':lambda x: x.iloc[0], 
                                                        'fullname':lambda x: x.iloc[0]})

In [177]:
consolidate_deputies.to_parquet('/Users/rikhoekstra/Downloads/consolidated_extended_raa.parquet')

In [178]:
def nm_to_unique(x):
    if x:
        names = x.split(';')
        names = list((set(names)))
        return names

In [179]:
for c in ['college', 'functienaam']:
    consolidate_deputies[c] = consilidate_deputies[c].apply(lambda x:nm_to_unique(x))

In [180]:
def maxmin(x):
    mn = x.van_p
    mx = x.tot_p
    if not mn == mn:
        mn = mx - 365
    if not mx == mx:
        mx = mn + 365

#     try:
#         period = pd.period_range(mn, mx, freq="D")
#     except ValueError:
#         period = pd
    try:
        result = pd.period_range(mn, mx)
        #result = pd.Series({'name': name,  'DayMin': mn, 'DayMax': mx, 'period':period})
    except:
        result = pd.NaT
    return result

In [181]:
consolidate_deputies['period'] = consolidate_deputies.apply(lambda row:maxmin(row), axis=1)

In [182]:
consolidate_deputies['p_interval'] = consolidate_deputies.period.apply(lambda x: ptoy(x))

In [183]:
def hypothetical_life(x):  # x is row from dataframe, but I don't know how to declare the type
    if x.geboortejaar == x.geboortejaar: # awful hack depending on NaN not being equal to itself
        gj = x["geboortejaar"].year
    else:
        # if x.was_gedeputeerde == True:
        #     gj = x.p_interval.left - 44
        # else:
        gj = x.p_interval.left - 34
    if x.sterfjaar == x.sterfjaar and x.sterfjaar.year >= gj:
        sj = x.sterfjaar.year
    else:
        sj = x.p_interval.right + 22
    try:
        rjinterval = pd.Interval(gj, sj, closed="both")
        return rjinterval
    except ValueError:
        # errors in the database
        print(x.id, gj, sj)

In [184]:
consolidate_deputies['geboortejaar'] = consolidate_deputies.geboortedatum_p
consolidate_deputies['sterfjaar'] = consolidate_deputies.overlijdensdatum_p
consolidate_deputies['hypothetical_life'] = consolidate_deputies.apply(lambda row: hypothetical_life(row), axis=1)

### Comment

Parquet does no know the interval datatype, so I stored a truncated version which has to be post processed for it to function.

the following is obsolete because of the code above

records = []
for id in unique_ids:
    rec = df_deputies2.loc[df_deputies2.persoon_id==id]
    mn = rec.van_p.min()
    mx = rec.tot_p.max()
    if not mn == mn:
        mn = mx - 365
    if not mx == mx:
        mx = mn + 365

    period = pd.period_range(start=mn, end=mx, freq="D")

    name = rec.regent.iat[0]
    geboortejaar = rec.geboortedatum_p.iat[0]
    sterfjaar = rec.overlijdensdatum_p.iat[0]
    colleges = ', '.join(list(rec.college.unique()))
    functions = ', '.join(list(rec.functienaam.unique()))
    sg = df_deputies2.loc[df_deputies2.college.str.contains('Staten-Generaal der Ve')]
    sg_grouped = sg.groupby('persoon_id')
    sg_grouped.apply(maxmin)
    sg_unique_ids = sg_grouped.groups.keys()
    if id in sg_unique_ids: # getting rid of second dataframe
        sg = True
    else:
        sg = False
    gedeputeerde = False
    if len(rec.loc[rec.college.str.contains('Staten-Generaal der Ve') & rec.functienaam.str.contains('gedeputeerde')]) > 0:
        gedeputeerde = True
    record = {"id":id,
              "name":name,
              "geboortejaar":geboortejaar,
              "sterfjaar":sterfjaar,
              "colleges":colleges,
              "functions":functions,
              "period":period,
              "sg": sg,
              "was_gedeputeerde": gedeputeerde}
    records.append(record)
abbreviated_df = pd.DataFrame(records)
abbreviated_df['p_interval'] = abbreviated_df.period.apply(lambda x: ptoy(x))
#abbreviated_df.loc[(~abbreviated_df.sterfjaar.dt.year.isna()) & (abbreviated_df.sterfjaar != 0.0)]

In [185]:
consolidate_deputies

,persoon_id,van_p,tot_p,functienaam,college,id,geslachtsnaam,voornaam,tussenvoegsel,geboortedatum_p,overlijdensdatum_p,firstnameplus,fullname,period,p_interval,geboortejaar,sterfjaar,hypothetical_life
0,4,1796-01-01,1796-01-01,[gedeputeerde],[Staten-Generaal der Verenigde Nederlandse Pro...,833,Crommelin,Jan Pieter,van Wickevoort,1763-01-01,1837-12-31,Jan Pieter van Wickevoort,"Crommelin, Jan Pieter van Wickevoort","PeriodIndex(['1796-01-01'], dtype='period[D]',...","[1796, 1796]",1763-01-01,1837-12-31,"[1763, 1837]"
1,5,1795-01-01,1796-01-01,[gedeputeerde],[Staten-Generaal der Verenigde Nederlandse Pro...,837,Appelius,Jean Henry,,1767-01-01,1828-12-31,Jean Henry,"Appelius, Jean Henry","PeriodIndex(['1795-01-01', '1795-01-02', '1795...","[1795, 1796]",1767-01-01,1828-12-31,"[1767, 1828]"
2,14,1796-01-01,1796-01-01,[gedeputeerde],[Staten-Generaal der Verenigde Nederlandse Pro...,5840,Hooff,Joannes Franciscus Rudolphus,van,1755-01-01,1816-12-31,Joannes Franciscus Rudolphus van,"Hooff, Joannes Franciscus Rudolphus van","PeriodIndex(['1796-01-01'], dtype='period[D]',...","[1796, 1796]",1755-01-01,1816-12-31,"[1755, 1816]"
3,33,1796-01-01,1796-01-01,[gedeputeerde],[Staten-Generaal der Verenigde Nederlandse Pro...,798,Boellaard,Dirk,,1740-01-01,1826-12-31,Dirk,"Boellaard, Dirk","PeriodIndex(['1796-01-01'], dtype='period[D]',...","[1796, 1796]",1740-01-01,1826-12-31,"[1740, 1826]"
4,37,1796-01-01,1796-01-01,[gedeputeerde],[Staten-Generaal der Verenigde Nederlandse Pro...,911,Queysen,Willem,,1754-01-01,1817-12-31,Willem,"Queysen, Willem","PeriodIndex(['1796-01-01'], dtype='period[D]',...","[1796, 1796]",1754-01-01,1817-12-31,"[1754, 1817]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2417,19992,1635-01-01,1652-01-01,"[gedeputeerde, ordinaris gedeputeerde]",[Staten-Generaal der Verenigde Nederlanden (15...,49403,Singendonck,Pontiaen,,NaT,1669-12-31,Pontiaen,"Singendonck, Pontiaen","PeriodIndex(['1635-01-01', '1635-01-02', '1635...","[1635, 1652]",NaT,1669-12-31,"[1601, 1669]"
2418,19996,1589-01-01,1589-01-01,[ordinaris gedeputeerde],[Staten-Generaal der Verenigde Nederlanden (15...,44158,Rengers van der Arentshorst,Johan,,NaT,1616-07-18,Johan,"Rengers van der Arentshorst, Johan","PeriodIndex(['1589-01-01'], dtype='period[D]',...","[1589, 1589]",NaT,1616-07-18,"[1555, 1616]"
2419,19997,1713-01-01,1730-01-01,[extraordinaris gecommiteerde],[Staten-Generaal der Verenigde Nederlanden (15...,45386,Spaen,Frederik Willem,van,1667-01-01,1735-02-19,Frederik Willem van,"Spaen, Frederik Willem van","PeriodIndex(['1713-01-01', '1713-01-02', '1713...","[1713, 1730]",1667-01-01,1735-02-19,"[1667, 1735]"
2420,19999,1714-01-01,1717-01-01,"[extraordinaris gecommiteerde, ordinaris gedep...",[Staten-Generaal der Verenigde Nederlanden (15...,45396,Reede,Godert Adriaan,van,1674-01-01,1730-05-02,Godert Adriaan van,"Reede, Godert Adriaan van","PeriodIndex(['1714-01-01', '1714-01-02', '1714...","[1714, 1717]",1674-01-01,1730-05-02,"[1674, 1730]"
2421,20000,1672-01-01,1705-01-01,[ordinaris gedeputeerde],[Staten-Generaal der Verenigde Nederlanden (15...,49306,Wijnbergen,Sijwert,van,NaT,1703-12-31,Sijwert van,"Wijnbergen, Sijwert van","PeriodIndex(['1672-01-01', '1672-01-02', '1672...","[1672, 1705]",NaT,1703-12-31,"[1638, 1703]"

In [186]:
df_met_cat.rename(columns={'key_0':'oldkey'}, inplace=True)

In [187]:
for item in ['name', 'givenname']:
    df_met_cat[item] = df_met_cat[item].str.replace('[\(\)]+', '')
    print(df_met_cat.loc[df_met_cat[item].str.contains('[\(\)]+')])

Empty DataFrame
Columns: [oldkey, name, givenname, pagenr, level, schutte_nr, schuttenummers, nr, category]
Index: []
Empty DataFrame
Columns: [oldkey, name, givenname, pagenr, level, schutte_nr, schuttenummers, nr, category]
Index: []

In [188]:
merged_db = df_met_cat.merge(consolidate_deputies, left_on=[df_met_cat.name, df_met_cat.givenname], 
                             right_on=[consolidate_deputies.geslachtsnaam, consolidate_deputies.firstnameplus], sort=False, suffixes=('_x', '_y'), copy=True).reset_index()

In [189]:
merged_db.loc[merged_db.van_p.isin(pd.period_range(start='01-01-1576',end='01-01-1796',freq="D"))]

,index,key_0,key_1,oldkey,name,givenname,pagenr,level,schutte_nr,schuttenummers,...,tussenvoegsel,geboortedatum_p,overlijdensdatum_p,firstnameplus,fullname,period,p_interval,geboortejaar,sterfjaar,hypothetical_life
0,0,Aerssen,François van,1-43,Aerssen,François van,4,1,5,1-43,...,van,1572-01-01,1641-12-27,François van,"Aerssen, François van","PeriodIndex(['1641-01-01'], dtype='period[D]',...","[1641, 1641]",1572-01-01,1641-12-27,"[1572, 1641]"
2,2,Boreel,Willem,1-43,Boreel,Willem,14,1,13,1-43,...,,1744-01-01,1796-12-31,Willem,"Boreel, Willem","PeriodIndex(['1784-01-01'], dtype='period[D]',...","[1784, 1784]",1744-01-01,1796-12-31,"[1744, 1796]"
4,4,Boreel,Willem,1-43,Boreel,Willem,32,1,28,1-43,...,,1744-01-01,1796-12-31,Willem,"Boreel, Willem","PeriodIndex(['1784-01-01'], dtype='period[D]',...","[1784, 1784]",1744-01-01,1796-12-31,"[1744, 1796]"
5,5,Groot,Pieter de,1-43,Groot,Pieter de,18,1,15,1-43,...,de,1615-01-01,1678-12-31,Pieter de,"Groot, Pieter de","PeriodIndex(['1672-01-01'], dtype='period[D]',...","[1672, 1672]",1615-01-01,1678-12-31,"[1615, 1678]"
6,6,Weede,Everhard van,1-43,Weede,Everhard van,21,1,17,1-43,...,van,NaT,1734-12-31,Everhard van,"Weede, Everhard van","PeriodIndex(['1682-01-01'], dtype='period[D]',...","[1682, 1682]",NaT,1734-12-31,"[1648, 1734]"
7,7,Weede,Everhard van,1-43,Weede,Everhard van,21,1,17,1-43,...,van,NaT,1702-06-06,Everhard van,"Weede, Everhard van","PeriodIndex(['1672-01-01'], dtype='period[D]',...","[1672, 1672]",NaT,1702-06-06,"[1638, 1702]"
8,8,Goslinga,Sicco van,1-43,Goslinga,Sicco van,27,1,23,1-43,...,van,1664-01-01,1731-09-20,Sicco van,"Goslinga, Sicco van","PeriodIndex(['1707-01-01', '1707-01-02', '1707...","[1707, 1731]",1664-01-01,1731-09-20,"[1664, 1731]"
9,9,Blaauw,Jacobus,1-43,Blaauw,Jacobus,36,1,35,1-43,...,,1759-01-01,1829-12-31,Jacobus,"Blaauw, Jacobus","PeriodIndex(['1796-01-01'], dtype='period[D]',...","[1796, 1796]",1759-01-01,1829-12-31,"[1759, 1829]"
12,12,Haren,Willem van,44-53,Haren,Willem van,78,1,50,44-53,...,van,1626-01-01,1708-04-15,Willem van,"Haren, Willem van","PeriodIndex(['1649-01-01', '1649-01-02', '1649...","[1649, 1704]",1626-01-01,1708-04-15,"[1626, 1708]"
13,13,Haren,Willem van,44-53,Haren,Willem van,78,1,50,44-53,...,van,1655-01-01,1728-09-18,Willem van,"Haren, Willem van","PeriodIndex(['1685-01-01', '1685-01-02', '1685...","[1685, 1705]",1655-01-01,1728-09-18,"[1655, 1728]"
14,14,Haren,Willem van,44-53,Haren,Willem van,78,1,50,44-53,...,van,1710-01-01,1768-07-04,Willem van,"Haren, Willem van","PeriodIndex(['1733-01-01', '1733-01-02', '1733...","[1733, 1763]",1710-01-01,1768-07-04,"[1710, 1768]"
15,15,Joachimi,Albert,54-81,Joachimi,Albert,89,1,56,54-81,...,,1560-01-01,1654-05-17,Albert,"Joachimi, Albert","PeriodIndex(['1625-01-01'], dtype='period[D]',...","[1625, 1625]",1560-01-01,1654-05-17,"[1560, 1654]"
16,16,Cats,Jacob,54-81,Cats,Jacob,94,1,57,54-81,...,,1577-01-01,1660-12-31,Jacob,"Cats, Jacob","PeriodIndex(['1631-01-01', '1631-01-02', '1631...","[1631, 1651]",1577-01-01,1660-12-31,"[1577, 1660]"
17,17,Ripperda,Joachim,54-81,Ripperda,Joachim,102,1,65,54-81,...,,NaT,NaT,Joachim,"Ripperda, Joachim","PeriodIndex(['1661-01-01'], dtype='period[D]',...","[1661, 1661]",NaT,NaT,"[1627, 1683]"
18,18,Brande,Johan Pieter van den,54-81,Brande,Johan Pieter van den,110,1,72,54-81,...,van den,1645-01-01,1712-12-31,Johan Pieter van den,"Brande, Johan Pieter van den","PeriodIndex(['1712-01-01'], dtype='period[D]',...","[1712, 1712]",1645-01-01,1712-12-31,"[1645, 1712]"
19,19,Vrijberghe,Marinus van,54-81,Vrijberghe,Marinus van,112,1,74,54-81,...,van,1657-01-01,1711-07-03,Marinus van,"Vrijberghe, Marinus van","PeriodIndex(['1711-01-01'], dtype='period[D]',...","[1711, 1711]",1657-01-01,1711-07-03,"[1657, 1711]"
20,20,Welderen,Jan Walraad van,54-81,Welderen,Jan Walraad van,117,1,79,54-81,...,van,1725-01-01,1807-06-15,Jan Walraad van,"Welderen, Jan Walraad van","PeriodIndex(['1747-01-01', '1747-01-02', '1747...","[1747, 1795]",1725-01-01,1807-06-15,"[1725, 1807]"
21,21,Nagell,Anne Willem Carel van,54-81,Nagell,Anne Willem Carel van,119,1,81,54-81,...,van,1756-01-01,1851-02-06,Anne Willem Carel van,"Nagell, Anne Willem Carel van","PeriodIndex(['1774-01-01', '1774-01-02', '1774...","[1774, 1780]",1756-01-01,1851-02-06,"[1756, 1851]"
22,22,Hop,Jacob,82-97,Hop,Jacob,135,2,83,82-97,...,,1728-01-01,1776-12-31,Jacob,"Hop, Jacob","PeriodIndex(['1775-01-01'], dtype='period[D]',...","[1775, 1775]",1728-01-01,1776-12-31,"[1728, 1776]"
23,23,Haeften,Reinier van,82-97,Haeften,Reinier van,143,2,94,82-97,...,van,1646-01-01,1733-01-24,Reinier van,"Haeften, Reinier van","PeriodIndex(['1717-01-01', '1717-01-02', '1717...","[1717, 1723]",1646-01-01,1733-01-24,"[1646, 1733]"
25,25,Schrassert,Hendrick,152-166,Schrassert,Hendrick,192,2,154,152-166,...,,NaT,NaT,Hendrick,"Schrassert, Hendrick","PeriodIndex(['1629-01-01', '1629-01-02', '1629...","[1629, 1642]",NaT,NaT,"[1595, 1664]"
26,26,Wassenaer,Jacob van,167-188,Wassenaer,Jacob van,208,2,171,167-188,...,van,1649-01-01,1707-06-11,Jacob van,"Wassenaer, Jacob van","PeriodIndex(['1695-01-01'], dtype='period[D]',...","[1695, 1695]",1649-01-01,1707-06-11,"[1649, 1707]"
27,27,Lintelo,Christiaan Carel van,167-188,Lintelo,Christiaan Carel van,209,2,172,167-188,...,van,NaT,1736-12-12,Christiaan Carel van,"Lintelo, Christiaan Carel van","PeriodIndex(['1717-01-01', '1717-01-02', '1717...","[1717, 1735]",NaT,1736-12-12,"[1683, 1736]"
28,28,Hultman,Carel Gerard,167-188,Hultman,Carel Gerard,220,2,187,167-188,...,,1752-01-01,1820-12-31,Carel Gerard,"Hultman, Carel Gerard","PeriodIndex(['1796-01-01'], dtype='period[D]',...","[1796, 1796]",1752-01-01,1820-12-31,"[1752, 1820]"
29,29,Heeckeren,Walraven van,197-198,Heeckeren,Walraven van,231,2,197,197-198,...,van,1570-01-01,1645-10-11,Walraven van,"Heeckeren, Walraven van","PeriodIndex(['1635-01-01', '1635-01-02', '1635...","[1635, 1646]",1570-01-01,1645-10-11,"[1570, 1645]"
30,30,Heeckeren,Walraven van,197-198,Heeckeren,Walraven van,231,2,197,197-198,...,van,NaT,1701-08-21,Walraven van,"Heeckeren, Walraven van","PeriodIndex(['1701-01-01'], dtype='period[D]',...","[1701, 1701]",NaT,1701-08-21,"[1667, 1701]"
31,31,Moeringh,Cornelis,199-222,Moeringh,Cornelis,244,1,209,199-222,...,,1634-01-01,1696-12-31,Cornelis,"Moeringh, Cornelis","PeriodIndex(['1682-01-01'], dtype='period[D]',...","[1682, 1682]",1634-01-01,1696-12-31,"[1634, 1696]"
34,34,Wassenaer,Willem Lodewijk van,242-255,Wassenaer,Willem Lodewijk van,293,1,252,242-255,...,van,1744-01-01,1833-03-25,Willem Lodewijk van,"Wassenaer, Willem Lodewijk van","PeriodIndex(['1787-01-01'], dtype='period[D]',...","[1787, 1787]",1744-01-01,1833-03-25,"[1744, 1833]"
35,35,Valckenaer,Johan,293-313,Valckenaer,Johan,399,1,308,293-313,...,,1759-01-01,1821-12-31,Johan,"Valckenaer, Johan","PeriodIndex(['1796-01-01'], dtype='period[D]',...","[1796, 1796]",1759-01-01,1821-12-31,"[1759, 1821]"
36,36,Witt,Jan de,334-338,Witt,Jan de,467,1,337,334-338,...,de,NaT,NaT,Jan de,"Witt, Jan de","PeriodIndex(['1796-01-01'], dtype='period[D]',...","[1796, 1796]",NaT,NaT,"[1762, 1818]"

In [190]:
merged_db

,index,key_0,key_1,oldkey,name,givenname,pagenr,level,schutte_nr,schuttenummers,...,tussenvoegsel,geboortedatum_p,overlijdensdatum_p,firstnameplus,fullname,period,p_interval,geboortejaar,sterfjaar,hypothetical_life
0,0,Aerssen,François van,1-43,Aerssen,François van,4,1,5,1-43,...,van,1572-01-01,1641-12-27,François van,"Aerssen, François van","PeriodIndex(['1641-01-01'], dtype='period[D]',...","[1641, 1641]",1572-01-01,1641-12-27,"[1572, 1641]"
1,1,Boreel,Willem,1-43,Boreel,Willem,14,1,13,1-43,...,,1800-03-24,1883-08-24,Willem,"Boreel, Willem","PeriodIndex(['1849-01-01', '1849-01-02', '1849...","[1849, 1866]",1800-03-24,1883-08-24,"[1800, 1883]"
2,2,Boreel,Willem,1-43,Boreel,Willem,14,1,13,1-43,...,,1744-01-01,1796-12-31,Willem,"Boreel, Willem","PeriodIndex(['1784-01-01'], dtype='period[D]',...","[1784, 1784]",1744-01-01,1796-12-31,"[1744, 1796]"
3,3,Boreel,Willem,1-43,Boreel,Willem,32,1,28,1-43,...,,1800-03-24,1883-08-24,Willem,"Boreel, Willem","PeriodIndex(['1849-01-01', '1849-01-02', '1849...","[1849, 1866]",1800-03-24,1883-08-24,"[1800, 1883]"
4,4,Boreel,Willem,1-43,Boreel,Willem,32,1,28,1-43,...,,1744-01-01,1796-12-31,Willem,"Boreel, Willem","PeriodIndex(['1784-01-01'], dtype='period[D]',...","[1784, 1784]",1744-01-01,1796-12-31,"[1744, 1796]"
5,5,Groot,Pieter de,1-43,Groot,Pieter de,18,1,15,1-43,...,de,1615-01-01,1678-12-31,Pieter de,"Groot, Pieter de","PeriodIndex(['1672-01-01'], dtype='period[D]',...","[1672, 1672]",1615-01-01,1678-12-31,"[1615, 1678]"
6,6,Weede,Everhard van,1-43,Weede,Everhard van,21,1,17,1-43,...,van,NaT,1734-12-31,Everhard van,"Weede, Everhard van","PeriodIndex(['1682-01-01'], dtype='period[D]',...","[1682, 1682]",NaT,1734-12-31,"[1648, 1734]"
7,7,Weede,Everhard van,1-43,Weede,Everhard van,21,1,17,1-43,...,van,NaT,1702-06-06,Everhard van,"Weede, Everhard van","PeriodIndex(['1672-01-01'], dtype='period[D]',...","[1672, 1672]",NaT,1702-06-06,"[1638, 1702]"
8,8,Goslinga,Sicco van,1-43,Goslinga,Sicco van,27,1,23,1-43,...,van,1664-01-01,1731-09-20,Sicco van,"Goslinga, Sicco van","PeriodIndex(['1707-01-01', '1707-01-02', '1707...","[1707, 1731]",1664-01-01,1731-09-20,"[1664, 1731]"
9,9,Blaauw,Jacobus,1-43,Blaauw,Jacobus,36,1,35,1-43,...,,1759-01-01,1829-12-31,Jacobus,"Blaauw, Jacobus","PeriodIndex(['1796-01-01'], dtype='period[D]',...","[1796, 1796]",1759-01-01,1829-12-31,"[1759, 1829]"
10,10,Schimmelpenninck,Rutger Jan,1-43,Schimmelpenninck,Rutger Jan,39,1,39,1-43,...,,1761-10-31,1825-02-15,Rutger Jan,"Schimmelpenninck, Rutger Jan","PeriodIndex(['1825-01-01'], dtype='period[D]',...","[1825, 1825]",1761-10-31,1825-02-15,"[1761, 1825]"
11,11,Schimmelpenninck,Rutger Jan,1-43,Schimmelpenninck,Rutger Jan,39,1,39,1-43,...,,1821-05-09,1893-04-23,Rutger Jan,"Schimmelpenninck, Rutger Jan","PeriodIndex(['1866-01-01'], dtype='period[D]',...","[1866, 1866]",1821-05-09,1893-04-23,"[1821, 1893]"
12,12,Haren,Willem van,44-53,Haren,Willem van,78,1,50,44-53,...,van,1626-01-01,1708-04-15,Willem van,"Haren, Willem van","PeriodIndex(['1649-01-01', '1649-01-02', '1649...","[1649, 1704]",1626-01-01,1708-04-15,"[1626, 1708]"
13,13,Haren,Willem van,44-53,Haren,Willem van,78,1,50,44-53,...,van,1655-01-01,1728-09-18,Willem van,"Haren, Willem van","PeriodIndex(['1685-01-01', '1685-01-02', '1685...","[1685, 1705]",1655-01-01,1728-09-18,"[1655, 1728]"
14,14,Haren,Willem van,44-53,Haren,Willem van,78,1,50,44-53,...,van,1710-01-01,1768-07-04,Willem van,"Haren, Willem van","PeriodIndex(['1733-01-01', '1733-01-02', '1733...","[1733, 1763]",1710-01-01,1768-07-04,"[1710, 1768]"
15,15,Joachimi,Albert,54-81,Joachimi,Albert,89,1,56,54-81,...,,1560-01-01,1654-05-17,Albert,"Joachimi, Albert","PeriodIndex(['1625-01-01'], dtype='period[D]',...","[1625, 1625]",1560-01-01,1654-05-17,"[1560, 1654]"
16,16,Cats,Jacob,54-81,Cats,Jacob,94,1,57,54-81,...,,1577-01-01,1660-12-31,Jacob,"Cats, Jacob","PeriodIndex(['1631-01-01', '1631-01-02', '1631...","[1631, 1651]",1577-01-01,1660-12-31,"[1577, 1660]"
17,17,Ripperda,Joachim,54-81,Ripperda,Joachim,102,1,65,54-81,...,,NaT,NaT,Joachim,"Ripperda, Joachim","PeriodIndex(['1661-01-01'], dtype='period[D]',...","[1661, 1661]",NaT,NaT,"[1627, 1683]"
18,18,Brande,Johan Pieter van den,54-81,Brande,Johan Pieter van den,110,1,72,54-81,...,van den,1645-01-01,1712-12-31,Johan Pieter van den,"Brande, Johan Pieter van den","PeriodIndex(['1712-01-01'], dtype='period[D]',...","[1712, 1712]",1645-01-01,1712-12-31,"[1645, 1712]"
19,19,Vrijberghe,Marinus van,54-81,Vrijberghe,Marinus van,112,1,74,54-81,...,van,1657-01-01,1711-07-03,Marinus van,"Vrijberghe, Marinus van","PeriodIndex(['1711-01-01'], dtype='period[D]',...","[1711, 1711]",1657-01-01,1711-07-03,"[1657, 1711]"
20,20,Welderen,Jan Walraad van,54-81,Welderen,Jan Walraad van,117,1,79,54-81,...,van,1725-01-01,1807-06-15,Jan Walraad van,"Welderen, Jan Walraad van","PeriodIndex(['1747-01-01', '1747-01-02', '1747...","[1747, 1795]",1725-01-01,1807-06-15,"[1725, 1807]"
21,21,Nagell,Anne Willem Carel van,54-81,Nagell,Anne Willem Carel van,119,1,81,54-81,...,van,1756-01-01,1851-02-06,Anne Willem Carel van,"Nagell, Anne Willem Carel van","PeriodIndex(['1774-01-01', '1774-01-02', '1774...","[1774, 1780]",1756-01-01,1851-02-06,"[1756, 1851]"
22,22,Hop,Jacob,82-97,Hop,Jacob,135,2,83,82-97,...,,1728-01-01,1776-12-31,Jacob,"Hop, Jacob","PeriodIndex(['1775-01-01'], dtype='period[D]',...","[1775, 1775]",1728-01-01,1776-12-31,"[1728, 1776]"
23,23,Haeften,Reinier van,82-97,Haeften,Reinier van,143,2,94,82-97,...,van,1646-01-01,1733-01-24,Reinier van,"Haeften, Reinier van","PeriodIndex(['1717-01-01', '1717-01-02', '1717...","[1717, 1723]",1646-01-01,1733-01-24,"[1646, 1733]"
24,24,Bylandt,Jean Charles van,98-99,Bylandt,Jean Charles van,151,2,99,98-99,...,van,1776-01-05,1841-07-27,Jean Charles van,"Bylandt, Jean Charles van","PeriodIndex(['1841-01-01'], dtype='period[D]',...","[1841, 1841]",1776-01-05,1841-07-27,"[1776, 1841]"
25,25,Schrassert,Hendrick,152-166,Schrassert,Hendrick,192,2,154,152-166,...,,NaT,NaT,Hendrick,"Schrassert, Hendrick","PeriodIndex(['1629-01-01', '1629-01-02', '1629...","[1629, 1642]",NaT,NaT,"[1595, 1664]"
26,26,Wassenaer,Jacob van,167-188,Wassenaer,Jacob van,208,2,171,167-188,...,van,1649-01-01,1707-06-11,Jacob van,"Wassenaer, Jacob van","PeriodIndex(['1695-01-01'], dtype='period[D]',...","[1695, 1695]",1649-01-01,1707-06-11,"[1649, 1707]"
27,27,Lintelo,Christiaan Carel van,167-188,Lintelo,Christiaan Carel van,209,2,172,167-188,...,van,NaT,1736-12-12,Christiaan Carel van,"Lintelo, Christiaan Carel van","PeriodIndex(['1717-01-01', '1717-01-02', '1717...","[1717, 1735]",NaT,1736-12-12,"[1683, 1736]"
28,28,Hultman,Carel Gerard,167-188,Hultman,Carel Gerard,220,2,187,167-188,...,,1752-01-01,1820-12-31,Carel Gerard,"Hultman, Carel Gerard","PeriodIndex(['1796-01-01'], dtype='period[D]',...","[1796, 1796]",1752-01-01,1820-12-31,"[1752, 1820]"
29,29,Heeckeren,Walraven van,197-198,Heeckeren,Walraven van,231,2,197,197-198,...,van,1570-01-01,1645-10-11,Walraven van,"Heeckeren, Walraven van","PeriodIndex(['1635-01-01', '1635-01-02', '1635...","[1635, 1646]",1570-01-01,1645-10-11,"[1570, 1645]"
30,30,Heeckeren,Walraven van,197-198,Heeckeren,Walraven van,231,2,197,197-198,...,van,NaT,1701-08-21,Walraven van,"Heeckeren, Walraven van","PeriodIndex(['1701-01-01'], dtype='period[D]',...","[1701, 1701]",NaT,1701-08-21,"[1667, 1701]"
31,31,Moeringh,Cornelis,199-222,Moeringh,Cornelis,244,1,209,199-222,...,,1634-01-01,1696-12-31,Cornelis,"Moeringh, Cornelis","PeriodIndex(['1682-01-01'], dtype='period[D]',...","[1682, 1682]",1634-01-01,1696-12-31,"[1634, 1696]"
32,32,Goes,Maarten van der,199-222,Goes,Maarten van der,251,1,217,199-222,...,van der,1751-01-03,1826-07-10,Maarten van der,"Goes, Maarten van der","PeriodIndex(['1826-01-01'], dtype='period[D]',...","[1826, 1826]",1751-01-03,1826-07-10,"[1751, 1826]"
33,33,Wassenaer,Willem Lodewijk van,242-255,Wassenaer,Willem Lodewijk van,293,1,252,242-255,...,van,1744-09-23,1833-03-25,Willem Lodewijk van,"Wassenaer, Willem Lodewijk van","PeriodIndex(['1833-01-01'], dtype='period[D]',...","[1833, 1833]",1744-09-23,1833-03-25,"[1744, 1833]"
34,34,Wassenaer,Willem Lodewijk van,242-255,Wassenaer,Willem Lodewijk van,293,1,252,242-255,...,van,1744-01-01,1833-03-25,Willem Lodewijk van,"Wassenaer, Willem Lodewijk van","PeriodIndex(['1787-01-01'], dtype='period[D]',...","[1787, 1787]",1744-01-01,1833-03-25,"[1744, 1833]"
35,35,Valckenaer,Johan,293-313,Valckenaer,Johan,399,1,308,293-313,...,,1759-01-01,1821-12-31,Johan,"Valckenaer, Johan","PeriodIndex(['1796-01-01'], dtype='period[D]',...","[1796, 1796]",1759-01-01,1821-12-31,"[1759, 1821]"
36,36,Witt,Jan de,334-338,Witt,Jan de,467,1,337,334-338,...,de,NaT,NaT,Jan de,"Witt, Jan de","PeriodIndex(['1796-01-01'], dtype='period[D]',...","[1796, 1796]",NaT,NaT,"[1762, 1818]"

## Enriching the results

### comment

but this is both not complete and has ambiguous mappings, because of spelling differences (example _Oldenbarneveld_ vs _Oldenbarnevelt_) and because there were many ruling families that recur thoughout the period (and beyond).

In [191]:
df_deputies.loc[df_deputies.geslachtsnaam=='Oldenbarneveld']

,functienaam,college,regent,voornaam,geslachtsnaam,tussenvoegsel,geboortedatum,overlijdensdatum,id,van,...,old_lokaal,old_provinciaal,old_regio,old_stand,old_vertegenwoordigend,periode,geboortedatum_p,overlijdensdatum_p,firstnameplus,fullname
2961,ordinaris gedeputeerde,Staten-Generaal der Verenigde Nederlanden (158...,van Oldenbarneveld,Jan Rutger,Oldenbarneveld,van,None,None,46284,1775,...,republiek_55,republiek_8,republiek_10,republiek_0,republiek_0,1,NaT,NaT,Jan Rutger van,"Oldenbarneveld, Jan Rutger van"

In [192]:
df_met_cat.loc[df_met_cat.name == "Oldenbarnevelt"]

,oldkey,name,givenname,pagenr,level,schutte_nr,schuttenummers,nr,category
3,1-43,Oldenbarnevelt,Johan van,3,1,4,1-43,I,Frankrijk

### Comment 

can we improve this by enriching the data (at the same time enriching the resource itself). First we need the OCR of# the books themselves.
in general the api for the retrobooks has the following url scheme:

`http://resources.huygens.knaw.nl/retroapp/service_<book>/<serial_number>/pagelist.xml`

In [193]:
import requests

page = requests.get("http://resources.huygens.knaw.nl/retroapp/service_schutte/service_schutte/schutte_1/pagelist.xml")

In [194]:
page.content[:100] # this yielded a valid xml result

b'<?xml version="1.0" encoding="UTF-8"?>\n<bookservice>\n<meta\n    pdf_download_file_exists="False"\n    '

In [195]:
toc = etree.fromstring(page.content)
meta = toc.getchildren()[0]
pagelist = toc.getchildren()[1]
pages = pagelist.getchildren()

In [196]:
een_page_map_df = pd.json_normalize([page.attrib for page in pages])
een_page_map_df

,original_image,page_index,html,page_number,thumb,pdf,image,id
0,images/schutte_buitenlandsevertegenwoordigersi...,0,html/schutte_buitenlandsevertegenwoordigersinn...,I,images/schutte_buitenlandsevertegenwoordigersi...,pdf/schutte_buitenlandsevertegenwoordigersinne...,images/schutte_buitenlandsevertegenwoordigersi...,schutte_buitenlandsevertegenwoordigersinnederl...
1,images/schutte_buitenlandsevertegenwoordigersi...,1,html/schutte_buitenlandsevertegenwoordigersinn...,II,images/schutte_buitenlandsevertegenwoordigersi...,pdf/schutte_buitenlandsevertegenwoordigersinne...,images/schutte_buitenlandsevertegenwoordigersi...,schutte_buitenlandsevertegenwoordigersinnederl...
2,images/schutte_buitenlandsevertegenwoordigersi...,2,html/schutte_buitenlandsevertegenwoordigersinn...,III,images/schutte_buitenlandsevertegenwoordigersi...,pdf/schutte_buitenlandsevertegenwoordigersinne...,images/schutte_buitenlandsevertegenwoordigersi...,schutte_buitenlandsevertegenwoordigersinnederl...
3,images/schutte_buitenlandsevertegenwoordigersi...,3,html/schutte_buitenlandsevertegenwoordigersinn...,IV,images/schutte_buitenlandsevertegenwoordigersi...,pdf/schutte_buitenlandsevertegenwoordigersinne...,images/schutte_buitenlandsevertegenwoordigersi...,schutte_buitenlandsevertegenwoordigersinnederl...
4,images/schutte_buitenlandsevertegenwoordigersi...,4,html/schutte_buitenlandsevertegenwoordigersinn...,V,images/schutte_buitenlandsevertegenwoordigersi...,pdf/schutte_buitenlandsevertegenwoordigersinne...,images/schutte_buitenlandsevertegenwoordigersi...,schutte_buitenlandsevertegenwoordigersinnederl...
...,...,...,...,...,...,...,...,...
857,images/schutte_buitenlandsevertegenwoordigersi...,857,html/schutte_buitenlandsevertegenwoordigersinn...,820,images/schutte_buitenlandsevertegenwoordigersi...,pdf/schutte_buitenlandsevertegenwoordigersinne...,images/schutte_buitenlandsevertegenwoordigersi...,schutte_buitenlandsevertegenwoordigersinnederl...
858,images/schutte_buitenlandsevertegenwoordigersi...,858,html/schutte_buitenlandsevertegenwoordigersinn...,821,images/schutte_buitenlandsevertegenwoordigersi...,pdf/schutte_buitenlandsevertegenwoordigersinne...,images/schutte_buitenlandsevertegenwoordigersi...,schutte_buitenlandsevertegenwoordigersinnederl...
859,images/schutte_buitenlandsevertegenwoordigersi...,859,html/schutte_buitenlandsevertegenwoordigersinn...,822,images/schutte_buitenlandsevertegenwoordigersi...,pdf/schutte_buitenlandsevertegenwoordigersinne...,images/schutte_buitenlandsevertegenwoordigersi...,schutte_buitenlandsevertegenwoordigersinnederl...
860,images/schutte_buitenlandsevertegenwoordigersi...,860,html/schutte_buitenlandsevertegenwoordigersinn...,823,images/schutte_buitenlandsevertegenwoordigersi...,pdf/schutte_buitenlandsevertegenwoordigersinne...,images/schutte_buitenlandsevertegenwoordigersi...,schutte_buitenlandsevertegenwoordigersinnederl...
861,images/schutte_buitenlandsevertegenwoordigersi...,861,html/schutte_buitenlandsevertegenwoordigersinn...,824,images/schutte_buitenlandsevertegenwoordigersi...,pdf/schutte_buitenlandsevertegenwoordigersinne...,images/schutte_buitenlandsevertegenwoordigersi...,schutte_buitenlandsevertegenwoordigersinnederl...

In [197]:
import requests

page = requests.get("http://resources.huygens.knaw.nl/retroapp/service_schutte/service_schutte/schutte_2/pagelist.xml")

In [198]:
toc2 = etree.fromstring(page.content)
meta2 = toc2.getchildren()[0]
pagelist2 = toc2.getchildren()[1]
pages2 = pagelist2.getchildren()

In [199]:
twee_page_map_df = pd.json_normalize([page.attrib for page in pages2])
twee_page_map_df

,original_image,page_index,html,page_number,thumb,pdf,image,id
0,images/schutte_nederlandsevertegenwoordigersin...,0,html/schutte_nederlandsevertegenwoordigersinbu...,I,images/schutte_nederlandsevertegenwoordigersin...,pdf/schutte_nederlandsevertegenwoordigersinbui...,images/schutte_nederlandsevertegenwoordigersin...,schutte_nederlandsevertegenwoordigersinbuitenl...
1,images/schutte_nederlandsevertegenwoordigersin...,1,html/schutte_nederlandsevertegenwoordigersinbu...,II,images/schutte_nederlandsevertegenwoordigersin...,pdf/schutte_nederlandsevertegenwoordigersinbui...,images/schutte_nederlandsevertegenwoordigersin...,schutte_nederlandsevertegenwoordigersinbuitenl...
2,images/schutte_nederlandsevertegenwoordigersin...,2,html/schutte_nederlandsevertegenwoordigersinbu...,III,images/schutte_nederlandsevertegenwoordigersin...,pdf/schutte_nederlandsevertegenwoordigersinbui...,images/schutte_nederlandsevertegenwoordigersin...,schutte_nederlandsevertegenwoordigersinbuitenl...
3,images/schutte_nederlandsevertegenwoordigersin...,3,html/schutte_nederlandsevertegenwoordigersinbu...,IV,images/schutte_nederlandsevertegenwoordigersin...,pdf/schutte_nederlandsevertegenwoordigersinbui...,images/schutte_nederlandsevertegenwoordigersin...,schutte_nederlandsevertegenwoordigersinbuitenl...
4,images/schutte_nederlandsevertegenwoordigersin...,4,html/schutte_nederlandsevertegenwoordigersinbu...,V,images/schutte_nederlandsevertegenwoordigersin...,pdf/schutte_nederlandsevertegenwoordigersinbui...,images/schutte_nederlandsevertegenwoordigersin...,schutte_nederlandsevertegenwoordigersinbuitenl...
...,...,...,...,...,...,...,...,...
547,images/schutte_nederlandsevertegenwoordigersin...,547,html/schutte_nederlandsevertegenwoordigersinbu...,516,images/schutte_nederlandsevertegenwoordigersin...,pdf/schutte_nederlandsevertegenwoordigersinbui...,images/schutte_nederlandsevertegenwoordigersin...,schutte_nederlandsevertegenwoordigersinbuitenl...
548,images/schutte_nederlandsevertegenwoordigersin...,548,html/schutte_nederlandsevertegenwoordigersinbu...,517,images/schutte_nederlandsevertegenwoordigersin...,pdf/schutte_nederlandsevertegenwoordigersinbui...,images/schutte_nederlandsevertegenwoordigersin...,schutte_nederlandsevertegenwoordigersinbuitenl...
549,images/schutte_nederlandsevertegenwoordigersin...,549,html/schutte_nederlandsevertegenwoordigersinbu...,518,images/schutte_nederlandsevertegenwoordigersin...,pdf/schutte_nederlandsevertegenwoordigersinbui...,images/schutte_nederlandsevertegenwoordigersin...,schutte_nederlandsevertegenwoordigersinbuitenl...
550,images/schutte_nederlandsevertegenwoordigersin...,550,html/schutte_nederlandsevertegenwoordigersinbu...,519,images/schutte_nederlandsevertegenwoordigersin...,pdf/schutte_nederlandsevertegenwoordigersinbui...,images/schutte_nederlandsevertegenwoordigersin...,schutte_nederlandsevertegenwoordigersinbuitenl...
551,images/schutte_nederlandsevertegenwoordigersin...,551,html/schutte_nederlandsevertegenwoordigersinbu...,520,images/schutte_nederlandsevertegenwoordigersin...,pdf/schutte_nederlandsevertegenwoordigersinbui...,images/schutte_nederlandsevertegenwoordigersin...,schutte_nederlandsevertegenwoordigersinbuitenl...

## comment

now we have two dataframes with (partial) urls. The idea is the following:

- get a representative (we have a list in the other frame, remember)
- find its page number
- find the representative on the pages

Pages in these volumes are systematic. 

![image version](images/ill2.png "Image version")

![ocr version](images/ill1.png "OCR version")

- they give a period with the title of the representative. The following line contains his data. In this example with a reference to an earlier person, that we may resolve later.

In [200]:
twee_page_map_df

,original_image,page_index,html,page_number,thumb,pdf,image,id
0,images/schutte_nederlandsevertegenwoordigersin...,0,html/schutte_nederlandsevertegenwoordigersinbu...,I,images/schutte_nederlandsevertegenwoordigersin...,pdf/schutte_nederlandsevertegenwoordigersinbui...,images/schutte_nederlandsevertegenwoordigersin...,schutte_nederlandsevertegenwoordigersinbuitenl...
1,images/schutte_nederlandsevertegenwoordigersin...,1,html/schutte_nederlandsevertegenwoordigersinbu...,II,images/schutte_nederlandsevertegenwoordigersin...,pdf/schutte_nederlandsevertegenwoordigersinbui...,images/schutte_nederlandsevertegenwoordigersin...,schutte_nederlandsevertegenwoordigersinbuitenl...
2,images/schutte_nederlandsevertegenwoordigersin...,2,html/schutte_nederlandsevertegenwoordigersinbu...,III,images/schutte_nederlandsevertegenwoordigersin...,pdf/schutte_nederlandsevertegenwoordigersinbui...,images/schutte_nederlandsevertegenwoordigersin...,schutte_nederlandsevertegenwoordigersinbuitenl...
3,images/schutte_nederlandsevertegenwoordigersin...,3,html/schutte_nederlandsevertegenwoordigersinbu...,IV,images/schutte_nederlandsevertegenwoordigersin...,pdf/schutte_nederlandsevertegenwoordigersinbui...,images/schutte_nederlandsevertegenwoordigersin...,schutte_nederlandsevertegenwoordigersinbuitenl...
4,images/schutte_nederlandsevertegenwoordigersin...,4,html/schutte_nederlandsevertegenwoordigersinbu...,V,images/schutte_nederlandsevertegenwoordigersin...,pdf/schutte_nederlandsevertegenwoordigersinbui...,images/schutte_nederlandsevertegenwoordigersin...,schutte_nederlandsevertegenwoordigersinbuitenl...
...,...,...,...,...,...,...,...,...
547,images/schutte_nederlandsevertegenwoordigersin...,547,html/schutte_nederlandsevertegenwoordigersinbu...,516,images/schutte_nederlandsevertegenwoordigersin...,pdf/schutte_nederlandsevertegenwoordigersinbui...,images/schutte_nederlandsevertegenwoordigersin...,schutte_nederlandsevertegenwoordigersinbuitenl...
548,images/schutte_nederlandsevertegenwoordigersin...,548,html/schutte_nederlandsevertegenwoordigersinbu...,517,images/schutte_nederlandsevertegenwoordigersin...,pdf/schutte_nederlandsevertegenwoordigersinbui...,images/schutte_nederlandsevertegenwoordigersin...,schutte_nederlandsevertegenwoordigersinbuitenl...
549,images/schutte_nederlandsevertegenwoordigersin...,549,html/schutte_nederlandsevertegenwoordigersinbu...,518,images/schutte_nederlandsevertegenwoordigersin...,pdf/schutte_nederlandsevertegenwoordigersinbui...,images/schutte_nederlandsevertegenwoordigersin...,schutte_nederlandsevertegenwoordigersinbuitenl...
550,images/schutte_nederlandsevertegenwoordigersin...,550,html/schutte_nederlandsevertegenwoordigersinbu...,519,images/schutte_nederlandsevertegenwoordigersin...,pdf/schutte_nederlandsevertegenwoordigersinbui...,images/schutte_nederlandsevertegenwoordigersin...,schutte_nederlandsevertegenwoordigersinbuitenl...
551,images/schutte_nederlandsevertegenwoordigersin...,551,html/schutte_nederlandsevertegenwoordigersinbu...,520,images/schutte_nederlandsevertegenwoordigersin...,pdf/schutte_nederlandsevertegenwoordigersinbui...,images/schutte_nederlandsevertegenwoordigersin...,schutte_nederlandsevertegenwoordigersinbuitenl...

In [201]:
s2_pages = [page.attrib for page in pages2]

In [202]:
# example
# an arbitrary representative
representative = df2.loc[df2.name=='Nassau']
ex_r = list(representative['pagenr'])[0]
print(ex_r)
res = list(filter(lambda x: x['page_number']==f"{ex_r}", s2_pages))[0]
print(res)
# ex_page = twee_page_map_df.loc[twee_page_map_df.page_number==f'{ex_r}']#['page_index']
# print(ex_page[['page_number', 'page_index']])

3
{'original_image': 'images/schutte_nederlandsevertegenwoordigersinbuitenland_0003.tif', 'page_index': '34', 'html': 'html/schutte_nederlandsevertegenwoordigersinbuitenland_0003.html', 'page_number': '3', 'thumb': 'images/schutte_nederlandsevertegenwoordigersinbuitenland_0003.jpg?size=thumb', 'pdf': 'pdf/schutte_nederlandsevertegenwoordigersinbuitenland_0003.pdf', 'image': 'images/schutte_nederlandsevertegenwoordigersinbuitenland_0003.jpg', 'id': 'schutte_nederlandsevertegenwoordigersinbuitenland_0003'}

In [203]:
base_url = "http://resources.huygens.knaw.nl/retroapp/service_schutte/service_schutte/schutte_2/"
url = os.path.join(base_url, res['html'])

In [204]:
pg = requests.get(url)
doc = pg.content

In [206]:
from bs4 import BeautifulSoup
base_url = "http://resources.huygens.knaw.nl/retroapp/service_schutte/service_schutte/schutte_2/"
fpat = re.compile('(?P<beginjaar>[0-9]*)-?(?P<eindjaar>[0-9]*)\s+(?P<functie>.*)')

In [207]:
# Idea: let's make a cache of the pages

In [209]:
list(enumerate(stringlist))

[(0, '3'),
 (1, 'Zijn hofmeester was De Lescale, die zijn overlijden meldde en de'),
 (2, 'zaken na zijn dood waarnam 9 ; zijn klerk was Pottere10.'),
 (3, '1598 gedeputeerde'),
 (4,
  '3.   Justinus van Nassau, geb. in 1559, student te Leiden 26 febr. 1576,'),
 (5, 'verkeerde daarna aan het Hof van zijn vader, ging in het gevolg van'),
 (6, 'Anjou naar Engeland, was in dienst van de graaf De Laval, kolonel'),
 (7, 'der infanterie 17 mei 1583, luitenant-admiraal van Zeeland 28 febr.'),
 (8, '1585 tot 29 mei 1601, gedeputeerde naar Frankrijk ter begroeting'),
 (9, 'van Hendrik IV als Koning 1589, diende deze met twintig Staatse'),
 (10, 'vendels van 1595 tot de zomer 1596, ontving met Johan van Olden-'),
 (11, 'barnevelt instructie als gedeputeerde naar Frankrijk 13 jan. 1598'),
 (12, 'en bracht rapport uit 5 juni 159810a ; werd bij res. 14 juli 1598 be-'),
 (13, 'noemd tot gedeputeerde naar Engeland en keerde terug 30 aug.'),
 (14, '1598; gouverneur van Breda 28 dec. 1601 tot de overgave van die'),
 (15, 'stad 11 juni 1625, f Leiden 26 juni 1631, begr. aldaar (Hoogl. k.).'),
 (16,
  'Zoon van Willem 1 prins van Oranje, graaf van Nassau, enz., en Eva Elinx;'),
 (17,
  'trouwde IJsselmonde 4 dec. 1597 Anna van Merode, geb. 9 jan. 1565, f Leiden'),
 (18,
  '8 okt. 1634, begr. aldaar, dochter van Jan IV van Merode, baron van Petershem,'),
 (19, 'en Margaretha van Pallandt-Culemborg, en weduwe van Thomas Morgan,'),
 (20, 'kolonel in Staatse dienst, gouverneur van Bergen op Zoom.'),
 (21, 'N.N.B.W. 1,1363 ; Dek, Nassau, 145.'),
 (22, 'Secretaris tijdens de missie naar Frankrijk was Mr. François van'),
 (23, 'Aerssen, nr. 5.'),
 (24, '1598 gedeputeerde'),
 (25,
  '4.   Mr. Johan van Oldenbarnevelt, (Engels) ridder (17 mei 1611), heer'),
 (26, 'van Groenevelt (1583-1592), Zuidwind (1583), Hoogland (1590),'),
 (27, 'Tempel (1592-1609), Stoutenburg (1593), Luttekeweede (1596),'),
 (28, 'Berkel en Rodenrijs (1600), Guntherstein (1611) en Backum (1613),'),
 (29, "geb. in of bij Amersfoort 14 sept. 1547, woonde te 's-Gravenhage"),
 (30, '1564-1565, student te Leuven 8 juni 1566 en Bourges in sept. 1567,'),
 (31, 'reisde door Bourgondië en Franche Comté naar Bazel en Keulen,'),
 (32, 'student aldaar 30 okt. 1567 en te Heidelberg 6 juni 1568, bezocht'),
 (33, 'Italië en studeerde te Padua (1569-1570?); advocaat voor den Hove'),
 (34, 'van Holland 1570 en voor het nieuwe Hof van Holland, pensionaris'),
 (35, 'van Rotterdam 28 dec. 1576 tot 28 maart 1586, gedeputeerde ter dag-'),
 (36, 'vaart, vervulde verschillende zendingen voor de Staten van Holland;'),
 (37, 'met Mr. Joos de Menin, pensionaris van Dordrecht, Dr. François'),
 (38, 'Maelson, pensionaris van Enkhuizen, Jr. Johan van der Does, heer'),
 (39, 'van Noord wijk, Ruiger van Haersolte, burgemeester van Harder-'),
 (40, '9.     Miss. 17 mei/2 juni 1597 en d.d. Parijs 21 aug./20 sept. 1597.'),
 (41, '10.    Ress. 10 en 17 juli 1598.'),
 (42,
  '10a.   Hun verbaal 31 jan. 1598-5 juni 1598 in arch. S.G., inv. nr. 8307.')]

In [212]:
from numpy import argmax
minipat = re.compile("92\.")
pnr = 142
res = list(filter(lambda x: x['page_number']==f"{pnr}", s2_pages))[0]
url = os.path.join(base_url, res['html'])
pg = requests.get(url)
doc = pg.content  
soup = BeautifulSoup(doc, 'html.parser')
stringlist = list(soup.stripped_strings)
stringlist
findstringl = [stringlist.index(s) for s in stringlist if minipat.search(re.sub(hpat,'', s))]
print(findstringl)
findstring = findstringl[0]
functiestring = stringlist[findstring-1]
print(functiestring)
functiepat = fpat.search(functiestring)
functiestring
fu_s = [l for l in stringlist[findstring-5:findstring] if fpat.search(l)][-1]
i = stringlist.index(fu_s)
functiestring = ' '.join(stringlist[i:findstring])
functiepat = fpat.search(functiestring)
functiepat
fdict = functiepat.groupdict()
fdict

[7]
gedeputeerde

{'beginjaar': '1782',
 'eindjaar': '1784',
 'functie': 'extraordinaris envoyé en minister plenipotentiaris; 1785-1786 gedeputeerde'}

In [213]:
from numpy import argmax
for representative in nms:
    # if not representative.get('schutte_functie'):
        ex_r = representative['pagenr']
        res = list(filter(lambda x: x['page_number']==f"{ex_r}", s2_pages))[0]
        url = os.path.join(base_url, res['html'])
        pg = requests.get(url)
        doc = pg.content  
        soup = BeautifulSoup(doc, 'html.parser')
        stringlist = list(soup.stripped_strings)
        o_t = re.compile(representative['schutte_nr'] + "\.\s")
        findstringl = [stringlist.index(s) for s in stringlist if o_t.search(re.sub(hpat,'', s))]
        if len(findstringl) > 0:
            findstring = findstringl[0]
            #functiestring = stringlist[findstring-1]
            fu_s = [l for l in stringlist[max([findstring-5, 0]):findstring] if fpat.search(l)][-1]
            i = stringlist.index(fu_s)
            functiestring = ' '.join(stringlist[i:findstring])
            functiepat = fpat.search(functiestring)
            if functiepat:
                fdict = functiepat.groupdict()
                for key in fdict:
                    representative['schutte_'+key] = fdict.get(key)
            else:
                print (representative)
        # except:
        #     print(representative)
len([n for n in nms if n.get('schutte_functie')])

341

record = list(filter(lambda x: x['schutte_nr']=='167', nms))[0]
record['pagenr'] = 202

In [214]:
df2 = pd.DataFrame().from_records(nms)
df2.set_index(df2.schutte_nr)

,name,givenname,pagenr,level,schutte_nr,schuttenummers,schutte_beginjaar,schutte_eindjaar,schutte_functie
schutte_nr,,,,,,,,,
1,Taffin,Quintin,1,1,1,1-43,1587,1593,commissaris
2,Calvart,Lieven,2,1,2,1-43,1593,1597,agent
3,Nassau,Justinus van,3,1,3,1-43,1598,,gedeputeerde
4,Oldenbarnevelt,Johan van,3,1,4,1-43,1598,,"gedeputeerde 3. Justinus van Nassau, geb. in..."
5,Aerssen,François van,4,1,5,1-43,1598,1613,"agent, ordinaris ambassadeur 1609"
...,...,...,...,...,...,...,...,...,...
338,Mestrezat,,468,1,338,334-338,1796,1799,correspondent te Basel
339,Berckel,Pieter Johan van,469,1,339,339-342,1783,1788,minister plenipotentiaris
340,Dorsten,Rudolph van,470,1,340,339-342,1788,1789,zaakgelastigde
341,Berckel,Franco Petrus van,470,1,341,339-342,1789,1795,(1796) resident (minister plenipotentiaris)
342,Polanen,Rogier Gerard van,470,1,342,339-342,1796,1803,minister resident

In [215]:
df2.loc[df2.schutte_functie.isna()] # pagenumber is not correct should be 202
# so we correct this by hand

,name,givenname,pagenr,level,schutte_nr,schuttenummers,schutte_beginjaar,schutte_eindjaar,schutte_functie
166,Isbrants,Johan,201,2,167,167-188,NaN,NaN,NaN

In [216]:
df_met_cat = df2.merge(df_concordance, left_on=df2.schuttenummers, right_on=df_concordance.index)
df_met_cat

,key_0,name,givenname,pagenr,level,schutte_nr,schuttenummers,schutte_beginjaar,schutte_eindjaar,schutte_functie,nr,category
0,1-43,Taffin,Quintin,1,1,1,1-43,1587,1593,commissaris,I,Frankrijk
1,1-43,Calvart,Lieven,2,1,2,1-43,1593,1597,agent,I,Frankrijk
2,1-43,Nassau,Justinus van,3,1,3,1-43,1598,,gedeputeerde,I,Frankrijk
3,1-43,Oldenbarnevelt,Johan van,3,1,4,1-43,1598,,"gedeputeerde 3. Justinus van Nassau, geb. in...",I,Frankrijk
4,1-43,Aerssen,François van,4,1,5,1-43,1598,1613,"agent, ordinaris ambassadeur 1609",I,Frankrijk
...,...,...,...,...,...,...,...,...,...,...,...,...
337,334-338,Mestrezat,,468,1,338,334-338,1796,1799,correspondent te Basel,XX,Zwitserland
338,339-342,Berckel,Pieter Johan van,469,1,339,339-342,1783,1788,minister plenipotentiaris,XXI,Verenigde Staten van Amerika
339,339-342,Dorsten,Rudolph van,470,1,340,339-342,1788,1789,zaakgelastigde,XXI,Verenigde Staten van Amerika
340,339-342,Berckel,Franco Petrus van,470,1,341,339-342,1789,1795,(1796) resident (minister plenipotentiaris),XXI,Verenigde Staten van Amerika
341,339-342,Polanen,Rogier Gerard van,470,1,342,339-342,1796,1803,minister resident,XXI,Verenigde Staten van Amerika

In [217]:
df_met_cat.columns

Index(['key_0', 'name', 'givenname', 'pagenr', 'level', 'schutte_nr',
       'schuttenummers', 'schutte_beginjaar', 'schutte_eindjaar',
       'schutte_functie', 'nr', 'category'],
      dtype='object')

In [218]:
keep = ['name', 'givenname', 'pagenr',  'schutte_nr','schutte_beginjaar', 'schutte_eindjaar',
       'schutte_functie', 'category']

In [219]:
catdf = df_met_cat[keep]

In [220]:
catdf

,name,givenname,pagenr,schutte_nr,schutte_beginjaar,schutte_eindjaar,schutte_functie,category
0,Taffin,Quintin,1,1,1587,1593,commissaris,Frankrijk
1,Calvart,Lieven,2,2,1593,1597,agent,Frankrijk
2,Nassau,Justinus van,3,3,1598,,gedeputeerde,Frankrijk
3,Oldenbarnevelt,Johan van,3,4,1598,,"gedeputeerde 3. Justinus van Nassau, geb. in...",Frankrijk
4,Aerssen,François van,4,5,1598,1613,"agent, ordinaris ambassadeur 1609",Frankrijk
...,...,...,...,...,...,...,...,...
337,Mestrezat,,468,338,1796,1799,correspondent te Basel,Zwitserland
338,Berckel,Pieter Johan van,469,339,1783,1788,minister plenipotentiaris,Verenigde Staten van Amerika
339,Dorsten,Rudolph van,470,340,1788,1789,zaakgelastigde,Verenigde Staten van Amerika
340,Berckel,Franco Petrus van,470,341,1789,1795,(1796) resident (minister plenipotentiaris),Verenigde Staten van Amerika
341,Polanen,Rogier Gerard van,470,342,1796,1803,minister resident,Verenigde Staten van Amerika

In [221]:
mask = catdf.schutte_eindjaar == ''

In [222]:
def derive_beginjaar(row):
    if row['schutte_beginjaar'] != '':
        return row['schutte_beginjaar']
    elif row['schutte_eindjaar'] != '':
        return row['schutte_eindjaar']
    else:
        return pd.NA

In [223]:
def derive_eindjaar(row):
    if row['schutte_eindjaar'] != '':
        return row['schutte_eindjaar']
    elif row['schutte_beginjaar'] != '':
        return row['schutte_beginjaar']
    else:
        return pd.NA

In [224]:
catdf['derived_beginjaar'] = catdf.apply(lambda row: derive_beginjaar(row), axis=1)

In [225]:
catdf['derived_eindjaar'] = catdf.apply(lambda row: derive_eindjaar(row), axis=1)

In [226]:
catdf.derived_beginjaar.fillna(method='ffill', inplace=True)
catdf.loc[catdf.derived_beginjaar.isna()]

Empty DataFrame
Columns: [name, givenname, pagenr, schutte_nr, schutte_beginjaar, schutte_eindjaar, schutte_functie, category, derived_beginjaar, derived_eindjaar]
Index: []

In [227]:
catdf.derived_eindjaar.fillna(method='ffill', inplace=True)
catdf.loc[catdf.derived_eindjaar.isna()]

Empty DataFrame
Columns: [name, givenname, pagenr, schutte_nr, schutte_beginjaar, schutte_eindjaar, schutte_functie, category, derived_beginjaar, derived_eindjaar]
Index: []

In [345]:
nw_merged_db = catdf.merge(consolidate_deputies, left_on=[catdf.name, catdf.givenname], 
                             right_on=[consolidate_deputies.geslachtsnaam, consolidate_deputies.firstnameplus], sort=False, suffixes=('_x', '_y'), copy=True).reset_index()

In [346]:
nw_merged_db

,index,key_0,key_1,name,givenname,pagenr,schutte_nr,schutte_beginjaar,schutte_eindjaar,schutte_functie,...,tussenvoegsel,geboortedatum_p,overlijdensdatum_p,firstnameplus,fullname,period,p_interval,geboortejaar,sterfjaar,hypothetical_life
0,0,Aerssen,François van,Aerssen,François van,4,5,1598,1613,"agent, ordinaris ambassadeur 1609",...,van,1572-01-01,1641-12-27,François van,"Aerssen, François van","PeriodIndex(['1641-01-01'], dtype='period[D]',...","[1641, 1641]",1572-01-01,1641-12-27,"[1572, 1641]"
1,1,Boreel,Willem,Boreel,Willem,14,13,1650,1668,"ordinaris ambassadeur, extraordinaris ambassad...",...,,1800-03-24,1883-08-24,Willem,"Boreel, Willem","PeriodIndex(['1849-01-01', '1849-01-02', '1849...","[1849, 1866]",1800-03-24,1883-08-24,"[1800, 1883]"
2,2,Boreel,Willem,Boreel,Willem,14,13,1650,1668,"ordinaris ambassadeur, extraordinaris ambassad...",...,,1744-01-01,1796-12-31,Willem,"Boreel, Willem","PeriodIndex(['1784-01-01'], dtype='period[D]',...","[1784, 1784]",1744-01-01,1796-12-31,"[1744, 1796]"
3,3,Boreel,Willem,Boreel,Willem,32,28,1726,1727,ordinaris ambassadeur,...,,1800-03-24,1883-08-24,Willem,"Boreel, Willem","PeriodIndex(['1849-01-01', '1849-01-02', '1849...","[1849, 1866]",1800-03-24,1883-08-24,"[1800, 1883]"
4,4,Boreel,Willem,Boreel,Willem,32,28,1726,1727,ordinaris ambassadeur,...,,1744-01-01,1796-12-31,Willem,"Boreel, Willem","PeriodIndex(['1784-01-01'], dtype='period[D]',...","[1784, 1784]",1744-01-01,1796-12-31,"[1744, 1796]"
5,5,Groot,Pieter de,Groot,Pieter de,18,15,1670,1672,ordinaris ambassadeur,...,de,1615-01-01,1678-12-31,Pieter de,"Groot, Pieter de","PeriodIndex(['1672-01-01'], dtype='period[D]',...","[1672, 1672]",1615-01-01,1678-12-31,"[1615, 1678]"
6,6,Weede,Everhard van,Weede,Everhard van,21,17,1678,1680,extraordinaris ambassadeur,...,van,NaT,1734-12-31,Everhard van,"Weede, Everhard van","PeriodIndex(['1682-01-01'], dtype='period[D]',...","[1682, 1682]",NaT,1734-12-31,"[1648, 1734]"
7,7,Weede,Everhard van,Weede,Everhard van,21,17,1678,1680,extraordinaris ambassadeur,...,van,NaT,1702-06-06,Everhard van,"Weede, Everhard van","PeriodIndex(['1672-01-01'], dtype='period[D]',...","[1672, 1672]",NaT,1702-06-06,"[1638, 1702]"
8,8,Goslinga,Sicco van,Goslinga,Sicco van,27,23,1714,,extraordinaris ambassadeur,...,van,1664-01-01,1731-09-20,Sicco van,"Goslinga, Sicco van","PeriodIndex(['1707-01-01', '1707-01-02', '1707...","[1707, 1731]",1664-01-01,1731-09-20,"[1664, 1731]"
9,9,Blaauw,Jacobus,Blaauw,Jacobus,36,35,1795,1796,minister plenipotentiaris,...,,1759-01-01,1829-12-31,Jacobus,"Blaauw, Jacobus","PeriodIndex(['1796-01-01'], dtype='period[D]',...","[1796, 1796]",1759-01-01,1829-12-31,"[1759, 1829]"
10,10,Schimmelpenninck,Rutger Jan,Schimmelpenninck,Rutger Jan,39,39,,,1800,...,,1761-10-31,1825-02-15,Rutger Jan,"Schimmelpenninck, Rutger Jan","PeriodIndex(['1825-01-01'], dtype='period[D]',...","[1825, 1825]",1761-10-31,1825-02-15,"[1761, 1825]"
11,11,Schimmelpenninck,Rutger Jan,Schimmelpenninck,Rutger Jan,39,39,,,1800,...,,1821-05-09,1893-04-23,Rutger Jan,"Schimmelpenninck, Rutger Jan","PeriodIndex(['1866-01-01'], dtype='period[D]',...","[1866, 1866]",1821-05-09,1893-04-23,"[1821, 1893]"
12,12,Haren,Willem van,Haren,Willem van,78,50,1749,1768,minister resident,...,van,1626-01-01,1708-04-15,Willem van,"Haren, Willem van","PeriodIndex(['1649-01-01', '1649-01-02', '1649...","[1649, 1704]",1626-01-01,1708-04-15,"[1626, 1708]"
13,13,Haren,Willem van,Haren,Willem van,78,50,1749,1768,minister resident,...,van,1655-01-01,1728-09-18,Willem van,"Haren, Willem van","PeriodIndex(['1685-01-01', '1685-01-02', '1685...","[1685, 1705]",1655-01-01,1728-09-18,"[1655, 1728]"
14,14,Haren,Willem van,Haren,Willem van,78,50,1749,1768,minister resident,...,van,1710-01-01,1768-07-04,Willem van,"Haren, Willem van","PeriodIndex(['1733-01-01', '1733-01-02', '1733...","[1733, 1763]",1710-01-01,1768-07-04,"[1710, 1768]"
15,15,Joachimi,Albert,Joachimi,Albert,89,56,1625,1650,ordinaris ambassadeur,...,,1560-01-01,1654-05-17,Albert,"Joachimi, Albert","PeriodIndex(['1625-01-01'], dtype='period[D]',...","[1625, 1625]",1560-01-01,1654-05-17,"[1560, 1654]"
16,16,Cats,Jacob,Cats,Jacob,94,57,1651,1652,extraordinaris ambassadeur,...,,1577-01-01,1660-12-31,Jacob,"Cats, Jacob","PeriodIndex(['1631-01-01', '1631-01-02', '1631...","[1631, 1651]",1577-01-01,1660-12-31,"[1577, 1660]"
17,17,Ripperda,Joachim,Ripperda,Joachim,102,65,1660,1661,extraordinaris ambassadeur,...,,NaT,NaT,Joachim,"Ripperda, Joachim","PeriodIndex(['1661-01-01'], dtype='period[D]',...","[1661, 1661]",NaT,NaT,"[1627, 1683]"
18,18,Brande,Johan Pieter van den,Brande,Johan Pieter van den,110,72,1695,1699,ordinaris ambassadeur,...,van den,1645-01-01,1712-12-31,Johan Pieter van den,"Brande, Johan Pieter van den","PeriodIndex(['1712-01-01'], dtype='period[D]',...","[1712, 1712]",1645-01-01,1712-12-31,"[1645, 1712]"
19,19,Vrijberghe,Marinus van,Vrijberghe,Marinus van,112,74,1701,1711,"resident, extraordinaris envoyé 1703",...,van,1657-01-01,1711-07-03,Marinus van,"Vrijberghe, Marinus van","PeriodIndex(['1711-01-01'], dtype='period[D]',...","[1711, 1711]",1657-01-01,1711-07-03,"[1657, 1711]"
20,20,Welderen,Jan Walraad van,Welderen,Jan Walraad van,117,79,1761,1780,extraordinaris envoyé en minister plenipotenti...,...,van,1725-01-01,1807-06-15,Jan Walraad van,"Welderen, Jan Walraad van","PeriodIndex(['1747-01-01', '1747-01-02', '1747...","[1747, 1795]",1725-01-01,1807-06-15,"[1725, 1807]"
21,21,Nagell,Anne Willem Carel van,Nagell,Anne Willem Carel van,119,81,,,en minister plenipotentiaris 1788,...,van,1756-01-01,1851-02-06,Anne Willem Carel van,"Nagell, Anne Willem Carel van","PeriodIndex(['1774-01-01', '1774-01-02', '1774...","[1774, 1780]",1756-01-01,1851-02-06,"[1756, 1851]"
22,22,Hop,Jacob,Hop,Jacob,135,83,1688,1689,extraordinaris envoyé,...,,1728-01-01,1776-12-31,Jacob,"Hop, Jacob","PeriodIndex(['1775-01-01'], dtype='period[D]',...","[1775, 1775]",1728-01-01,1776-12-31,"[1728, 1776]"
23,23,Haeften,Reinier van,Haeften,Reinier van,143,94,1786,1797,extraordinaris envoyé en minister plenipotenti...,...,van,1646-01-01,1733-01-24,Reinier van,"Haeften, Reinier van","PeriodIndex(['1717-01-01', '1717-01-02', '1717...","[1717, 1723]",1646-01-01,1733-01-24,"[1646, 1733]"
24,24,Bylandt,Jean Charles van,Bylandt,Jean Charles van,151,99,1807,1808,minister plenipotentiaris,...,van,1776-01-05,1841-07-27,Jean Charles van,"Bylandt, Jean Charles van","PeriodIndex(['1841-01-01'], dtype='period[D]',...","[1841, 1841]",1776-01-05,1841-07-27,"[1776, 1841]"
25,25,Schrassert,Hendrick,Schrassert,Hendrick,192,154,1640,1651,resident te Hamburg en Lübeck,...,,NaT,NaT,Hendrick,"Schrassert, Hendrick","PeriodIndex(['1629-01-01', '1629-01-02', '1629...","[1629, 1642]",NaT,NaT,"[1595, 1664]"
26,26,Wassenaer,Jacob van,Wassenaer,Jacob van,208,171,1699,1700,extraordinaris envoyé,...,van,1649-01-01,1707-06-11,Jacob van,"Wassenaer, Jacob van","PeriodIndex(['1695-01-01'], dtype='period[D]',...","[1695, 1695]",1649-01-01,1707-06-11,"[1649, 1707]"
27,27,Lintelo,Christiaan Carel van,Lintelo,Christiaan Carel van,209,172,1704,1716,extraordinaris envoyé,...,van,NaT,1736-12-12,Christiaan Carel van,"Lintelo, Christiaan Carel van","PeriodIndex(['1717-01-01', '1717-01-02', '1717...","[1717, 1735]",NaT,1736-12-12,"[1683, 1736]"
28,28,Hultman,Carel Gerard,Hultman,Carel Gerard,220,187,1802,,minister plenipotentiaris,...,,1752-01-01,1820-12-31,Carel Gerard,"Hultman, Carel Gerard","PeriodIndex(['1796-01-01'], dtype='period[D]',...","[1796, 1796]",1752-01-01,1820-12-31,"[1752, 1820]"
29,29,Heeckeren,Walraven van,Heeckeren,Walraven van,231,197,1691,1692,extraordinaris envoyé,...,van,1570-01-01,1645-10-11,Walraven van,"Heeckeren, Walraven van","PeriodIndex(['1635-01-01', '1635-01-02', '1635...","[1635, 1646]",1570-01-01,1645-10-11,"[1570, 1645]"
30,30,Heeckeren,Walraven van,Heeckeren,Walraven van,231,197,1691,1692,extraordinaris envoyé,...,van,NaT,1701-08-21,Walraven van,"Heeckeren, Walraven van","PeriodIndex(['1701-01-01'], dtype='period[D]',...","[1701, 1701]",NaT,1701-08-21,"[1667, 1701]"
31,31,Moeringh,Cornelis,Moeringh,Cornelis,244,209,1680,1686,extraordinaris envoyé,...,,1634-01-01,1696-12-31,Cornelis,"Moeringh, Cornelis","PeriodIndex(['1682-01-01'], dtype='period[D]',...","[1682, 1682]",1634-01-01,1696-12-31,"[1634, 1696]"
32,32,Goes,Maarten van der,Goes,Maarten van der,251,217,1785,1793,extraordinaris envoyé,...,van der,1751-01-03,1826-07-10,Maarten van der,"Goes, Maarten van der","PeriodIndex(['1826-01-01'], dtype='period[D]',...","[1826, 1826]",1751-01-03,1826-07-10,"[1751, 1826]"
33,33,Wassenaer,Willem Lodewijk van,Wassenaer,Willem Lodewijk van,293,252,,,1780,...,van,1744-09-23,1833-03-25,Willem Lodewijk van,"Wassenaer, Willem Lodewijk van","PeriodIndex(['1833-01-01'], dtype='period[D]',...","[1833, 1833]",1744-09-23,1833-03-25,"[1744, 1833]"
34,34,Wassenaer,Willem Lodewijk van,Wassenaer,Willem Lodewijk van,293,252,,,1780,...,van,1744-01-01,1833-03-25,Willem Lodewijk van,"Wassenaer, Willem Lodewijk van","PeriodIndex(['1787-01-01'], dtype='period[D]',...","[1787, 1787]",1744-01-01,1833-03-25,"[1744, 1833]"
35,35,Valckenaer,Johan,Valckenaer,Johan,399,308,1796,1798,extraordinaris envoyé en minister plenipotenti...,...,,1759-01-01,1821-12-31,Johan,"Valckenaer, Johan","PeriodIndex(['1796-01-01'], dtype='period[D]',...","[1796, 1796]",1759-01-01,1821-12-31,"[1759, 1821]"
36,36,Witt,Jan de,Witt,Jan de,467,337,1795,1796,minister plenipotentiaris in Zwitserland en mi...,...,de,NaT,NaT,Jan de,"Witt, Jan de","PeriodIndex(['1796-01-01'], dtype='period[D]',...","[1796, 1796]",NaT,NaT,"[1762, 1818]"

In [362]:
nw_merged_db.derived_beginjaar.fillna(0)

0     1598
1     1650
5     1670
6     1678
7     1678
8     1714
9     1795
10    1798
12    1749
14    1749
15    1625
16    1651
17    1660
18    1695
19    1701
20    1761
21    1784
22    1688
23    1786
24    1807
25    1640
26    1699
27    1704
28    1802
29    1691
30    1691
31    1680
32    1785
33    1765
35    1796
36    1795
Name: derived_beginjaar, dtype: object

In [363]:
for c in ['derived_beginjaar', 'derived_eindjaar']:
    try:
        nw_merged_db[c]= nw_merged_db[c].replace(r'^\s*$', np.nan, regex=True)
    except AttributeError:
        print(c)
        pass
    nw_merged_db[c] = nw_merged_db[c].astype(float)
    nw_merged_db[c] = nw_merged_db[c].astype('Int64')

In [475]:
def maxmin(x, c1, c2):
    mn = x[c1]
    mx = x[c2]
    if pd.isna(mn):
        mn = mx- 365
    if pd.isna(mx):
        mx = mn + 365
#     try:
#         period = pd.period_range(mn, mx, freq="D")
#     except ValueError:
#         period = pd
    try:
        result = pd.Interval(mn, mx, closed='both')
        #result = pd.Series({'name': name,  'DayMin': mn, 'DayMax': mx, 'period':period})
    except:
        print(mn, mx)
        result = pd.Interval(0,0, closed='both')
    return result

In [476]:
nw_merged_db.derived_beginjaar

0     1598
1     1650
5     1670
6     1678
7     1678
8     1714
9     1795
10    1798
12    1749
14    1749
15    1625
16    1651
17    1660
18    1695
19    1701
20    1761
21    1784
22    1688
23    1786
24    1807
25    1640
26    1699
27    1704
28    1802
29    1691
30    1691
31    1680
32    1785
33    1765
35    1796
36    1795
Name: derived_beginjaar, dtype: Int64

In [477]:
nw_merged_db.derived_beginjaar.fillna(nw_merged_db.derived_eindjaar, inplace=True)

In [478]:
nw_merged_db.derived_eindjaar.fillna(nw_merged_db.derived_beginjaar, inplace=True)

In [495]:
nw_merged_db['schutte_period'] = nw_merged_db.apply(lambda row: maxmin(row, 'derived_beginjaar', 'derived_eindjaar'), axis=1)

In [497]:
result_db = nw_merged_db.loc[nw_merged_db.apply(lambda row: row['schutte_period'].overlaps(row.hypothetical_life), axis=1)]

dupl = nw_merged_db.loc[nw_merged_db[['geslachtsnaam', 'givenname']].duplicated()]

right_deps = dupl.loc[dupl.apply(lambda row: row['schutte_period'].overlaps(row.hypothetical_life), axis=1)]

nw_merged_db.drop(list(wrong_deps), axis=0, inplace=True)

nw_merged_db.columns

In [498]:
subset = ['persoon_id', 'name', 'givenname', 'pagenr', 'schutte_nr',
       'schutte_beginjaar', 'schutte_eindjaar', 'schutte_functie', 'category',
       'van_p', 'tot_p',
       'functienaam', 'college', 'id', 'geslachtsnaam', 'voornaam',
       'tussenvoegsel', 'geboortejaar',
       'sterfjaar', 'p_interval',  'hypothetical_life', 
       'derived_beginjaar', 'derived_eindjaar']

In [500]:
result_db[subset].reset_index()

,index,persoon_id,name,givenname,pagenr,schutte_nr,schutte_beginjaar,schutte_eindjaar,schutte_functie,category,...,id,geslachtsnaam,voornaam,tussenvoegsel,geboortejaar,sterfjaar,p_interval,hypothetical_life,derived_beginjaar,derived_eindjaar
0,0,15082,Aerssen,François van,4,5,1598,1613,"agent, ordinaris ambassadeur 1609",Frankrijk,...,32488,Aerssen,François,van,1572-01-01,1641-12-27,"[1641, 1641]","[1572, 1641]",1598,1613
1,5,15163,Groot,Pieter de,18,15,1670,1672,ordinaris ambassadeur,Frankrijk,...,32579,Groot,Pieter,de,1615-01-01,1678-12-31,"[1672, 1672]","[1615, 1678]",1670,1672
2,6,17471,Weede,Everhard van,21,17,1678,1680,extraordinaris ambassadeur,Frankrijk,...,45076,Weede,Everhard,van,NaT,1734-12-31,"[1682, 1682]","[1648, 1734]",1678,1680
3,7,18772,Weede,Everhard van,21,17,1678,1680,extraordinaris ambassadeur,Frankrijk,...,45237,Weede,Everhard,van,NaT,1702-06-06,"[1672, 1672]","[1638, 1702]",1678,1680
4,8,13050,Goslinga,Sicco van,27,23,1714,1714,extraordinaris ambassadeur,Frankrijk,...,27462,Goslinga,Sicco,van,1664-01-01,1731-09-20,"[1707, 1731]","[1664, 1731]",1714,1714
5,9,394,Blaauw,Jacobus,36,35,1795,1796,minister plenipotentiaris,Frankrijk,...,797,Blaauw,Jacobus,,1759-01-01,1829-12-31,"[1796, 1796]","[1759, 1829]",1795,1796
6,10,3343,Schimmelpenninck,Rutger Jan,39,39,<NA>,<NA>,1800,Frankrijk,...,6839,Schimmelpenninck,Rutger Jan,,1761-10-31,1825-02-15,"[1825, 1825]","[1761, 1825]",1798,1798
7,14,13070,Haren,Willem van,78,50,1749,1768,minister resident,Zuidelijke Nederlanden,...,27406,Haren,Willem,van,1710-01-01,1768-07-04,"[1733, 1763]","[1710, 1768]",1749,1768
8,15,17079,Joachimi,Albert,89,56,1625,1650,ordinaris ambassadeur,Groot-Brittannië,...,37870,Joachimi,Albert,,1560-01-01,1654-05-17,"[1625, 1625]","[1560, 1654]",1625,1650
9,16,14074,Cats,Jacob,94,57,1651,1652,extraordinaris ambassadeur,Groot-Brittannië,...,38161,Cats,Jacob,,1577-01-01,1660-12-31,"[1631, 1651]","[1577, 1660]",1651,1652
10,17,17900,Ripperda,Joachim,102,65,1660,1661,extraordinaris ambassadeur,Groot-Brittannië,...,41633,Ripperda,Joachim,,NaT,NaT,"[1661, 1661]","[1627, 1683]",1660,1661
11,18,17221,Brande,Johan Pieter van den,110,72,1695,1699,ordinaris ambassadeur,Groot-Brittannië,...,38336,Brande,Johan Pieter,van den,1645-01-01,1712-12-31,"[1712, 1712]","[1645, 1712]",1695,1699
12,19,17091,Vrijberghe,Marinus van,112,74,1701,1711,"resident, extraordinaris envoyé 1703",Groot-Brittannië,...,37889,Vrijberghe,Marinus,van,1657-01-01,1711-07-03,"[1711, 1711]","[1657, 1711]",1701,1711
13,20,19183,Welderen,Jan Walraad van,117,79,1761,1780,extraordinaris envoyé en minister plenipotenti...,Groot-Brittannië,...,45795,Welderen,Jan Walraad,van,1725-01-01,1807-06-15,"[1747, 1795]","[1725, 1807]",1761,1780
14,21,17274,Nagell,Anne Willem Carel van,119,81,<NA>,<NA>,en minister plenipotentiaris 1788,Groot-Brittannië,...,46256,Nagell,Anne Willem Carel,van,1756-01-01,1851-02-06,"[1774, 1780]","[1756, 1851]",1784,1788
15,24,3261,Bylandt,Jean Charles van,151,99,1807,1808,minister plenipotentiaris,Beieren,...,6757,Bylandt,Jean Charles,van,1776-01-05,1841-07-27,"[1841, 1841]","[1776, 1841]",1807,1808
16,25,19301,Schrassert,Hendrick,192,154,1640,1651,resident te Hamburg en Lübeck,"Nedersaksische Kreits, Hamburg, Lübeck en Bremen",...,47068,Schrassert,Hendrick,,NaT,NaT,"[1629, 1642]","[1595, 1664]",1640,1651
17,26,13476,Wassenaer,Jacob van,208,171,1699,1700,extraordinaris envoyé,Pruissen,...,28193,Wassenaer,Jacob,van,1649-01-01,1707-06-11,"[1695, 1695]","[1649, 1707]",1699,1700
18,27,19085,Lintelo,Christiaan Carel van,209,172,1704,1716,extraordinaris envoyé,Pruissen,...,45391,Lintelo,Christiaan Carel,van,NaT,1736-12-12,"[1717, 1735]","[1683, 1736]",1704,1716
19,28,3210,Hultman,Carel Gerard,220,187,1802,1802,minister plenipotentiaris,Pruissen,...,884,Hultman,Carel Gerard,,1752-01-01,1820-12-31,"[1796, 1796]","[1752, 1820]",1802,1802
20,30,19771,Heeckeren,Walraven van,231,197,1691,1692,extraordinaris envoyé,Saksen,...,48191,Heeckeren,Walraven,van,NaT,1701-08-21,"[1701, 1701]","[1667, 1701]",1691,1692
21,31,14371,Moeringh,Cornelis,244,209,1680,1686,extraordinaris envoyé,Denemarken en Noorwegen,...,29999,Moeringh,Cornelis,,1634-01-01,1696-12-31,"[1682, 1682]","[1634, 1696]",1680,1686
22,32,3279,Goes,Maarten van der,251,217,1785,1793,extraordinaris envoyé,Denemarken en Noorwegen,...,6775,Goes,Maarten,van der,1751-01-03,1826-07-10,"[1826, 1826]","[1751, 1826]",1785,1793
23,33,3369,Wassenaer,Willem Lodewijk van,293,252,<NA>,<NA>,1780,Rusland,...,6865,Wassenaer,Willem Lodewijk,van,1744-09-23,1833-03-25,"[1833, 1833]","[1744, 1833]",1765,1772
24,35,413,Valckenaer,Johan,399,308,1796,1798,extraordinaris envoyé en minister plenipotenti...,Spanje,...,829,Valckenaer,Johan,,1759-01-01,1821-12-31,"[1796, 1796]","[1759, 1821]",1796,1798
25,36,418,Witt,Jan de,467,337,1795,1796,minister plenipotentiaris in Zwitserland en mi...,Zwitserland,...,835,Witt,Jan,de,NaT,NaT,"[1796, 1796]","[1762, 1818]",1795,1796

In [502]:
result_db[subset].reset_index().to_excel('/Users/rikhoekstra/Downloads/schutte_in_raa_straight_merge.xlsx')

In [503]:
# this is from https://stackoverflow.com/questions/13636848/is-it-possible-to-do-fuzzy-match-merge-with-python-pandas
import difflib 

def fuzzy_merge(df1, df2, left_on, right_on, how='inner', cutoff=0.6):
    df_other= df2.copy()
    df_other[left_on] = [get_closest_match(x, df1[left_on], cutoff) 
                         for x in df_other[right_on]]
    return df1.merge(df_other, on=left_on, how=how)


def get_closest_match(x, other, cutoff):
    matches = difflib.get_close_matches(x, other, cutoff=cutoff, n=1)
    return matches[0] if matches else None

# def get_closest_match(x, other, cutoff):
#     matches = score_levenshtein_similarity_ratio(x, other)
#     return matches if matches else None

In [504]:
?score_levenshtein_similarity_ratio

Signature: score_levenshtein_similarity_ratio(term1, term2)
Docstring:
Score the levenshtein similarity between two terms

:param term1: a term string
:type term1: str
:param term2: a term string
:type term2: str
:return: the number of overlapping ngrams
:rtype: int
File:      ~/.local/share/virtualenvs/republic-project-Av06XlOZ/lib/python3.8/site-packages/fuzzy_search/fuzzy_string.py
Type:      function

In [505]:
?difflib.get_close_matches

Signature: difflib.get_close_matches(word, possibilities, n=3, cutoff=0.6)
Docstring:
Use SequenceMatcher to return list of the best "good enough" matches.

word is a sequence for which close matches are desired (typically a
string).

possibilities is a list of sequences against which to match word
(typically a list of strings).

Optional arg n (default 3) is the maximum number of close matches to
return.  n must be > 0.

Optional arg cutoff (default 0.6) is a float in [0, 1].  Possibilities
that don't score at least that similar to word are ignored.

The best (no more than n) matches among the possibilities are returned
in a list, sorted by similarity score, most similar first.

>>> get_close_matches("appel", ["ape", "apple", "peach", "puppy"])
['apple', 'ape']
>>> import keyword as _keyword
>>> get_close_matches("wheel", _keyword.kwlist)
['while']
>>> get_close_matches("Apple", _keyword.kwlist)
[]
>>> get_close_matches("accept", _keyword.kwlist)
['except']
File:      ~/miniconda3/lib/python3.8/difflib.py
Type:      function

In [506]:
dfa = catdf[['name']]
dfa.name = dfa.name.astype('str')

In [507]:
dfb = consolidate_deputies[['geslachtsnaam']]
dfb

                    geslachtsnaam
0                       Crommelin
1                        Appelius
2                           Hooff
3                       Boellaard
4                         Queysen
...                           ...
2417                  Singendonck
2418  Rengers van der Arentshorst
2419                        Spaen
2420                        Reede
2421                   Wijnbergen

[2422 rows x 1 columns]

In [508]:
fuzzy_merge(dfa, dfb, left_on='name', right_on='geslachtsnaam', cutoff=0.9)

               name   geslachtsnaam
0    Oldenbarnevelt  Oldenbarneveld
1           Aerssen         Aerssen
2           Aerssen        Aerssens
3        Boetzelaer      Boetzelaer
4        Boetzelaer      Boetzelaer
..              ...             ...
462            Witt            Witt
463            Witt            Witt
464            Witt            Witt
465         Berckel          Berkel
466         Berckel          Berkel

[467 rows x 2 columns]

In [510]:
from fuzzy_search.fuzzy_string import score_levenshtein_similarity_ratio

In [531]:
[get_closest_match(x, dfb['geslachtsnaam'], 0.6) for x in ['oldenbarnevelt']]

['Oldenbarneveld']

In [555]:
# we have to match full names

0      Oldenbarneveld, Jan Rutger van
1               Aerssen, François van
2                  Aerssens, Cornelis
3                       Mijer, Pieter
4                Boetzelaer, Dirk van
                    ...
593                      Witte, Johan
594                     Witte, Gerard
595                     Berkel, Dirck
596                     Berkel, Dirck
597               Forsten, Jan Harmen
Name: fullname, Length: 598, dtype: object

In [585]:
catdf['schutte_fullname'] =  catdf.name.str.cat(catdf.givenname, sep=', ')
catdf['name'] = catdf.name.astype(str)

In [586]:
catdf.schutte_fullname

0                 Taffin, Quintin
1                 Calvart, Lieven
2            Nassau, Justinus van
3       Oldenbarnevelt, Johan van
4           Aerssen, François van
                  ...
337                   Mestrezat,
338     Berckel, Pieter Johan van
339          Dorsten, Rudolph van
340    Berckel, Franco Petrus van
341    Polanen, Rogier Gerard van
Name: schutte_fullname, Length: 342, dtype: object

In [587]:
consolidate_deputies['fullname'] = consolidate_deputies.geslachtsnaam.str.cat(consolidate_deputies.firstnameplus, sep=', ')
consolidate_deputies['fullname'] = consolidate_deputies.fullname.astype(str)

In [588]:
fuzzy_merged_db = fuzzy_merge(catdf, consolidate_deputies, left_on='schutte_fullname', right_on='fullname', cutoff=0.8)

In [589]:
fuzzy_merged_db

,name,givenname,pagenr,schutte_nr,schutte_beginjaar,schutte_eindjaar,schutte_functie,category,derived_beginjaar,derived_eindjaar,...,tussenvoegsel,geboortedatum_p,overlijdensdatum_p,firstnameplus,fullname,period,p_interval,geboortejaar,sterfjaar,hypothetical_life
0,Oldenbarnevelt,Johan van,3,4,1598,,"gedeputeerde 3. Justinus van Nassau, geb. in...",Frankrijk,1598,1598,...,van,NaT,NaT,Jan Rutger van,"Oldenbarneveld, Jan Rutger van","PeriodIndex(['1777-01-01'], dtype='period[D]',...","[1777, 1777]",NaT,NaT,"[1743, 1799]"
1,Aerssen,François van,4,5,1598,1613,"agent, ordinaris ambassadeur 1609",Frankrijk,1598,1613,...,van,1765-02-24,1830-11-11,François van,"Hees, François van","PeriodIndex(['1815-01-01', '1815-01-02', '1815...","[1815, 1830]",1765-02-24,1830-11-11,"[1765, 1830]"
2,Aerssen,François van,4,5,1598,1613,"agent, ordinaris ambassadeur 1609",Frankrijk,1598,1613,...,van,1572-01-01,1641-12-27,François van,"Aerssen, François van","PeriodIndex(['1641-01-01'], dtype='period[D]',...","[1641, 1641]",1572-01-01,1641-12-27,"[1572, 1641]"
3,Aerssen,François van,4,5,1598,1613,"agent, ordinaris ambassadeur 1609",Frankrijk,1598,1613,...,van,NaT,NaT,François van,"Hees, François van","PeriodIndex(['1795-01-01'], dtype='period[D]',...","[1795, 1795]",NaT,NaT,"[1761, 1817]"
4,Mijle,Cornelis van der,7,6,1614,,extraordinaris ambassadeur,Frankrijk,1614,1614,...,van der,NaT,NaT,Cornelis van der,"Hart, Cornelis van der","PeriodIndex(['1760-01-01'], dtype='period[D]',...","[1760, 1760]",NaT,NaT,"[1726, 1782]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161,Berck,Johan,460,332,1622,1627,ordinaris ambassadeur,Venetië,1622,1627,...,,NaT,NaT,Johan,"Strick, Johan","PeriodIndex(['1674-01-01'], dtype='period[D]',...","[1674, 1674]",NaT,NaT,"[1640, 1696]"
162,Berck,Johan,460,332,1622,1627,ordinaris ambassadeur,Venetië,1622,1627,...,,NaT,1648-12-04,Johan,"Strick, Johan","PeriodIndex(['1631-01-01', '1631-01-02', '1631...","[1631, 1637]",NaT,1648-12-04,"[1597, 1648]"
163,Berck,Johan,460,332,1622,1627,ordinaris ambassadeur,Venetië,1622,1627,...,,NaT,1638-12-31,Johan,"Torck, Johan","PeriodIndex(['1635-01-01'], dtype='period[D]',...","[1635, 1635]",NaT,1638-12-31,"[1601, 1638]"
164,Witt,Jan de,467,337,1795,1796,minister plenipotentiaris in Zwitserland en mi...,Zwitserland,1795,1796,...,de,NaT,NaT,Jan de,"Witt, Jan de","PeriodIndex(['1796-01-01'], dtype='period[D]',...","[1796, 1796]",NaT,NaT,"[1762, 1818]"
165,Witt,Jan de,467,337,1795,1796,minister plenipotentiaris in Zwitserland en mi...,Zwitserland,1795,1796,...,de,1625-01-01,1672-12-31,Johan de,"Witt, Johan de","PeriodIndex(['1672-01-01'], dtype='period[D]',...","[1672, 1672]",1625-01-01,1672-12-31,"[1625, 1672]"

In [590]:
for c in ['derived_beginjaar', 'derived_eindjaar']:
    try:
        fuzzy_merged_db[c]= fuzzy_merged_db[c].replace(r'^\s*$', np.nan, regex=True)
    except AttributeError:
        print(c)
        pass
    fuzzy_merged_db[c] = fuzzy_merged_db[c].astype(float)
    fuzzy_merged_db[c] = fuzzy_merged_db[c].astype('Int64')

In [591]:
fuzzy_merged_db.derived_beginjaar.fillna(fuzzy_merged_db.derived_eindjaar, inplace=True)

In [592]:
fuzzy_merged_db.derived_eindjaar.fillna(fuzzy_merged_db.derived_beginjaar, inplace=True)

In [593]:
fuzzy_merged_db['schutte_period'] = fuzzy_merged_db.apply(lambda row: maxmin(row, 'derived_beginjaar', 'derived_eindjaar'), axis=1)

In [594]:
res_db = fuzzy_merged_db.loc[fuzzy_merged_db.apply(lambda row: row['schutte_period'].overlaps(row.hypothetical_life), axis=1)]

In [599]:
res_db.loc[(res_db.apply(lambda x:score_levenshtein_similarity_ratio(str(x.geslachtsnaam), str(x.name)) < 0.8, axis=1))]

,name,givenname,pagenr,schutte_nr,schutte_beginjaar,schutte_eindjaar,schutte_functie,category,derived_beginjaar,derived_eindjaar,...,geboortedatum_p,overlijdensdatum_p,firstnameplus,fullname,period,p_interval,geboortejaar,sterfjaar,hypothetical_life,schutte_period
2,Aerssen,François van,4,5,1598,1613,"agent, ordinaris ambassadeur 1609",Frankrijk,1598,1613,...,1572-01-01,1641-12-27,François van,"Aerssen, François van","PeriodIndex(['1641-01-01'], dtype='period[D]',...","[1641, 1641]",1572-01-01,1641-12-27,"[1572, 1641]","[1598, 1613]"
5,Mijle,Cornelis van der,7,6,1614,,extraordinaris ambassadeur,Frankrijk,1614,1614,...,NaT,1633-01-20,Cornelis van der,"Poll, Cornelis van der","PeriodIndex(['1618-01-01'], dtype='period[D]',...","[1618, 1618]",NaT,1633-01-20,"[1584, 1633]","[1614, 1614]"
8,Boetzelaer,Gideon van den,7,7,,,Bij De Jonge.,Frankrijk,1614,1614,...,1580-01-01,1628-07-18,Gijsbert van den,"Boetzelaar, Gijsbert van den","PeriodIndex(['1618-01-01', '1618-01-02', '1618...","[1618, 1627]",1580-01-01,1628-07-18,"[1580, 1628]","[1614, 1614]"
11,Pauw,Adriaen,10,9,1634,1635,extraordinaris ambassadeur,Frankrijk,1634,1635,...,1585-01-01,1653-12-31,Adriaan,"Pauw, Adriaan","PeriodIndex(['1636-01-01', '1636-01-02', '1636...","[1636, 1653]",1585-01-01,1653-12-31,"[1585, 1653]","[1634, 1635]"
13,Lyere,Willem van,13,11,1637,1648,ordinaris ambassadeur,Frankrijk,1637,1648,...,1620-01-01,1672-05-03,Willem van,"Goeree, Willem van","PeriodIndex(['1664-01-01', '1664-01-02', '1664...","[1664, 1672]",1620-01-01,1672-05-03,"[1620, 1672]","[1637, 1648]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156,Ommeren,Roelof van,437,327,1656,,extraordinaris envoyé,Sardinië,1656,1656,...,NaT,1689-02-16,Rudolph van,"Ommeren, Rudolph van","PeriodIndex(['1651-01-01', '1651-01-02', '1651...","[1651, 1659]",NaT,1689-02-16,"[1617, 1689]","[1656, 1656]"
158,Berck,Johan,460,332,1622,1627,ordinaris ambassadeur,Venetië,1622,1627,...,NaT,NaT,Johan,"Hoeck, Johan","PeriodIndex(['1601-01-01'], dtype='period[D]',...","[1601, 1601]",NaT,NaT,"[1567, 1623]","[1622, 1627]"
162,Berck,Johan,460,332,1622,1627,ordinaris ambassadeur,Venetië,1622,1627,...,NaT,1648-12-04,Johan,"Strick, Johan","PeriodIndex(['1631-01-01', '1631-01-02', '1631...","[1631, 1637]",NaT,1648-12-04,"[1597, 1648]","[1622, 1627]"
163,Berck,Johan,460,332,1622,1627,ordinaris ambassadeur,Venetië,1622,1627,...,NaT,1638-12-31,Johan,"Torck, Johan","PeriodIndex(['1635-01-01'], dtype='period[D]',...","[1635, 1635]",NaT,1638-12-31,"[1601, 1638]","[1622, 1627]"
164,Witt,Jan de,467,337,1795,1796,minister plenipotentiaris in Zwitserland en mi...,Zwitserland,1795,1796,...,NaT,NaT,Jan de,"Witt, Jan de","PeriodIndex(['1796-01-01'], dtype='period[D]',...","[1796, 1796]",NaT,NaT,"[1762, 1818]","[1795, 1796]"

In [732]:
import regex
def name_matcher(naam1,naam2, threshold):
    result = False
    n1, n2 = sorted([naam1, naam2], key=lambda x: len(x))
    pat = regex.compile('.*(?P<namepart>' + n1 + '){e<=2}' + '.*', flags=regex.BESTMATCH)
    r = pat.search(n2)
    if r:
        np = r.groupdict()['namepart']
        s = score_levenshtein_similarity_ratio(np, n1)
        if s > threshold:
            result = True
    return result

In [733]:
rdb = res_db.iloc[res_db.index.isin([88,89])]
rdb

,name,givenname,pagenr,schutte_nr,schutte_beginjaar,schutte_eindjaar,schutte_functie,category,derived_beginjaar,derived_eindjaar,...,geboortedatum_p,overlijdensdatum_p,firstnameplus,fullname,period,p_interval,geboortejaar,sterfjaar,hypothetical_life,schutte_period
88,Strick,"van Linschoten, Paul Hubert Adriaan Jan",161,108,1797,1801,minister plenipotentiaris,Württemberg,1797,1801,...,1769-01-01,1819-12-31,Paulus Hubert Adriaan Jan,"Strick van Linschoten, Paulus Hubert Adriaan Jan","PeriodIndex(['1796-01-01'], dtype='period[D]',...","[1796, 1796]",1769-01-01,1819-12-31,"[1769, 1819]","[1797, 1801]"
89,Dedem,Anthony Boldewijn Gijsbert van,162,109,1801,1803,minister plenipotentiaris,Württemberg,1801,1803,...,1774-01-01,1825-12-31,Anthony Boldewijn Gijsbert van,"Dedem van Gelder, Anthony Boldewijn Gijsbert van","PeriodIndex(['1795-01-01'], dtype='period[D]',...","[1795, 1795]",1774-01-01,1825-12-31,"[1774, 1825]","[1801, 1803]"

In [734]:
res_db.apply(lambda x: name_matcher(x['name'],x['geslachtsnaam'], threshold=0.8), axis=1)

2       True
5      False
8       True
11      True
13     False
       ...
156     True
158    False
162    False
163    False
164     True
Length: 74, dtype: bool

In [742]:
result = res_db.loc[res_db.apply(lambda x: name_matcher(x['name'],x['geslachtsnaam'], threshold=0.8), axis=1)
           & res_db.apply(lambda x: name_matcher(x['givenname'],x['firstnameplus'], threshold=0.8), axis=1)
    & (res_db.apply(lambda x:score_levenshtein_similarity_ratio(x.fullname, x.schutte_fullname) > 0.8, axis=1))]

In [374]:
fuzzy_merged_db.columns

Index(['index', 'key_0', 'key_1', 'name', 'givenname', 'pagenr', 'schutte_nr',
       'schutte_beginjaar', 'schutte_eindjaar', 'schutte_functie', 'category',
       'derived_beginjaar', 'derived_eindjaar', 'persoon_id', 'van_p', 'tot_p',
       'functienaam', 'college', 'id', 'geslachtsnaam', 'voornaam',
       'tussenvoegsel', 'geboortedatum_p', 'overlijdensdatum_p',
       'firstnameplus', 'fullname', 'period', 'p_interval', 'geboortejaar',
       'sterfjaar', 'hypothetical_life', 'schutte_period'],
      dtype='object')

In [741]:
subset = ['persoon_id', 'name', 'givenname', 'pagenr', 'schutte_nr',
       'schutte_beginjaar', 'schutte_eindjaar', 'schutte_functie', 'category',
       'van_p', 'tot_p',
       'functienaam', 'college', 'id', 'geslachtsnaam', 'voornaam',
       'tussenvoegsel', 'geboortejaar',
       'sterfjaar', 'p_interval',  'hypothetical_life', 
       'derived_beginjaar', 'derived_eindjaar']

In [743]:
result[subset].to_excel('/Users/rikhoekstra/Downloads/schutte_in_raa_fuzzy_matched.xlsx')